[buildout]
parts = haproxy

[haproxy]
recipe = erp5.recipe.softwarebuild
url = http://haproxy.1wt.eu/download/1.4/src/haproxy-1.4.8.tar.gz
md5sum = 104f4985b37bd9bac7a33e20fb6aaadf
# source-directory-contains is a hack for zc.recipe.cmmi
source-directory-contains = Makefile
run-configure = false
# XXX-Luke: autodetection shall be provided by erp5.recipe.softwareinstance
#           with possible overriding customisation
# linux26 might be better target, but on this level portability is a must
make-options = TARGET=generic
make-install-options = ${:make-options}
make-install-destination-parameter = PREFIX=
