[buildout]
parts = haproxy

[haproxy]
recipe = erp5.recipe.softwarebuild
url = http://haproxy.1wt.eu/download/1.4/src/haproxy-1.4.9.tar.gz
md5sum = 2cbcc95b54c0d803edaa13e7b4aeec25
source-directory-contains = Makefile
run-configure = false
# XXX-Luke: autodetection shall be provided by erp5.recipe.softwarebuild
#           with possible overriding customisation
# linux26 might be better target, but on this level portability is a must
make-options = TARGET=generic
make-install-options = ${:make-options}
make-install-destination-parameter = PREFIX=
