# mroonga - a MySQL storage engine using full-text search engine groonga
# http://mroonga.github.com/
# http://groonga.org/

[buildout]
parts =
  mroonga

[groonga]
recipe = hexagonit.recipe.cmmi
url = http://groonga.org/files/groonga/groonga-1.0.2.tar.gz
md5sum = 1cfe0fbae8a6bbaa35e6de4b7a0bfcf6
configure-options =
  --without-mecab

[mroonga]
recipe = hexagonit.recipe.cmmi
url = http://github.com/downloads/mroonga/mroonga/groonga-storage-engine-0.2.tar.gz
md5sum = 60a37606b01c81da02d02515340a6cdf
configure-options =
  --with-mysql-source=${mysql-5.1:location}__compile__/mysql-${mysql-5.1:version}
  --with-mysql-config=${mysql-5.1:location}/bin/mysql_config
environment =
    PATH =${groonga:location}/bin:%(PATH)s
    CFLAGS =-I${groonga:location}/include/groonga
    CXXFLAGS =-I${groonga:location}/include/groonga
    LDFLAGS =-L${groonga:location}/lib
    PKG_CONFIG_PATH =${groonga:location}/lib/pkgconfig
