# profile to install openoffice from binary (needs host detection)
[buildout]
parts =
  openoffice-bin

[configuration]
openoffice_python = ${openoffice-bin:location}/basis-link/program/python.bin
openoffice_program = ${openoffice-bin:location}/program
openoffice_uno = ${openoffice-bin:location}/basis-link/program/

[openoffice-bin]
recipe = z3c.recipe.openoffice
install-pyuno-egg = no
hack-openoffice-python = no
# TODO: autodetection of platform and arch
download-url =
  http://download.services.openoffice.org/files/stable/3.1.1_LinuxX86-64_install_wJRE_en-US.tar.gz
unpack-name = OOO310_m19_native_packed-2_en-US.9420
# below version is internally used in recipe
version = 3

[requirements]
binary =
  cpio
  rpm2cpio
