[buildout]
parts =
  openoffice-bin

[configuration]
openoffice_python = ${software_definition:openoffice_software}/basis-link/program/python.bin
openoffice_program = ${software_definition:openoffice_software}/program
openoffice_uno = ${software_definition:openoffice_software}/basis-link/program/

[openoffice-bin]
recipe = z3c.recipe.openoffice
install-pyuno-egg = no
hack-openoffice-python = no
download-url =
  http://download.services.openoffice.org/files/stable/3.2.0/OOo_3.2.0_LinuxX86-64_install_wJRE_en-US.tar.gz
unpack-name = OOO320_m12_native_packed-1_en-US.9483
# below version is internally used in recipe
version = 3

[requirements]
binary =
  cpio
  rpm2cpio
