[buildout]
parts = pdftk

[pdftk-patch-download]
recipe = hexagonit.recipe.download
url = http://www.nexedi.org/static/patches/${:filename}
download-only = true

[pdftk-Makefiles.patch]
<= pdftk-patch-download
md5sum = 1e8cf2219af76f36991ad0dac664405d
filename = pdftk-Makefiles.patch

[pdftk-remove-postscript.patch]
<= pdftk-patch-download
md5sum = 3ee4916c7456b4b35a4c52c68e5804db
filename = pdftk-remove-postscript.patch

[pdftk-no_gnu_local.patch]
<= pdftk-patch-download
md5sum = a650d8462cb9ac94b5705c15da0ad516
filename = pdftk-no_gnu_local.patch

[pdftk-bug-427046_pdftk.cc.patch]
<= pdftk-patch-download
md5sum = 3b62f2597f293bc02d542bf14466be22
filename = pdftk-bug-427046_pdftk.cc.patch

[pdftk-Makefile.Base.DEST.patch]
<= pdftk-patch-download
md5sum = 9bdc41440f6a0c7c17bd555c22152ce2
filename = pdftk-Makefile.Base.DEST.patch

[pdftk-1.41-gcc-4.4.patch]
<= pdftk-patch-download
md5sum = e40c95972a6c2851e299735c0d60783b
filename = pdftk-1.41-gcc-4.4.patch

[pdftk-Makefile.RedHat.additional.includes.patch]
<= pdftk-patch-download
md5sum = 563f6fdfcf4fdd188bc59ab5fce0dd62
filename = pdftk-Makefile.RedHat.additional.includes.patch

[pdftk-hooks-download]
recipe = hexagonit.recipe.download
url = http://www.nexedi.org/static/buildout-hooks/pdftk-hooks.py-r38757
filename = pdftk-hooks.py
md5sum = b4b4a31ded6b59888e2a56d1b5726c99
download-only = true

[pdftk]
recipe = hexagonit.recipe.cmmi
url = http://www.pdfhacks.com/pdftk/pdftk-1.41.tar.gz
patches =
  ${pdftk-Makefiles.patch:location}/${pdftk-Makefiles.patch:filename}
  ${pdftk-remove-postscript.patch:location}/${pdftk-remove-postscript.patch:filename}
  ${pdftk-no_gnu_local.patch:location}/${pdftk-no_gnu_local.patch:filename}
  ${pdftk-Makefile.Base.DEST.patch:location}/${pdftk-Makefile.Base.DEST.patch:filename}
  ${pdftk-1.41-gcc-4.4.patch:location}/${pdftk-1.41-gcc-4.4.patch:filename}
  ${pdftk-Makefile.RedHat.additional.includes.patch:location}/${pdftk-Makefile.RedHat.additional.includes.patch:filename}
#  ${pdftk-bug-427046_pdftk.cc.patch:location}/${pdftk-bug-427046_pdftk.cc.patch:filename}

configure-command = true
make-options =
  -f Makefile.RedHat
  DEST=${buildout:parts-directory}/${:_buildout_section_name_}

pre-make-hook = ${pdftk-hooks-download:location}/${pdftk-hooks-download:filename}:pre_make_hook
