.document .content{
  min-height:100px;
}
.required-field label{
  font-weight: bold;
}


.validation-failed {
  border: 1px solid red;
}

.center_left {
  float:left;
  width: 50%;
}

.center_right {
    float: left;
    margin-left: 0.5%;
    width: 47.5%;
}

fieldset.left {
    margin-right:0px;
}

fieldset.right {
  width:47.5%;
  margin-left:0.5%;
}
.center_left,
.center_right{
  border: 1px solid #97B0D1;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
}

//portal_status_gadget CSS
#portal_status_message p {
  display:none;
  color:red;
}