<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="DTMLMethod" module="OFS.DTMLMethod"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>_Cacheable__manager_id</string> </key>
            <value> <string>http_cache</string> </value>
        </item>
        <item>
            <key> <string>__name__</string> </key>
            <value> <string>lint.css</string> </value>
        </item>
        <item>
            <key> <string>_vars</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>globals</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>raw</string> </key>
            <value> <string>/* The lint marker gutter */\n
.CodeMirror-lint-markers {\n
  width: 16px;\n
}\n
\n
.CodeMirror-lint-tooltip {\n
  background-color: infobackground;\n
  border: 1px solid black;\n
  border-radius: 4px 4px 4px 4px;\n
  color: infotext;\n
  font-family: monospace;\n
  font-size: 10pt;\n
  overflow: hidden;\n
  padding: 2px 5px;\n
  position: fixed;\n
  white-space: pre;\n
  white-space: pre-wrap;\n
  z-index: 100;\n
  max-width: 600px;\n
  opacity: 0;\n
  transition: opacity .4s;\n
  -moz-transition: opacity .4s;\n
  -webkit-transition: opacity .4s;\n
  -o-transition: opacity .4s;\n
  -ms-transition: opacity .4s;\n
}\n
\n
.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {\n
  background-position: left bottom;\n
  background-repeat: repeat-x;\n
}\n
\n
.CodeMirror-lint-mark-error {\n
  background-image:\n
  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==")\n
  ;\n
}\n
\n
.CodeMirror-lint-mark-warning {\n
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");\n
}\n
\n
.CodeMirror-lint-marker-error, .CodeMirror-lint-marker-warning {\n
  background-position: center center;\n
  background-repeat: no-repeat;\n
  cursor: pointer;\n
  display: inline-block;\n
  height: 16px;\n
  width: 16px;\n
  vertical-align: middle;\n
  position: relative;\n
}\n
\n
.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {\n
  padding-left: 18px;\n
  background-position: top left;\n
  background-repeat: no-repeat;\n
}\n
\n
.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {\n
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");\n
}\n
\n
.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning {\n
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");\n
}\n
\n
.CodeMirror-lint-marker-multiple {\n
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAACVBMVEUAAAAAAAC/v7914kyHAAAAAXRSTlMAQObYZgAAACNJREFUeNo1ioEJAAAIwmz/H90iFFSGJgFMe3gaLZ0od+9/AQZ0ADosbYraAAAAAElFTkSuQmCC");\n
  background-repeat: no-repeat;\n
  background-position: right bottom;\n
  width: 100%; height: 100%;\n
}\n
</string> </value>
        </item>
      </dictionary>
    </pickle>
  </record>
</ZopeData>
