.rjsf button.array-item-move-down::before {
    font-family: "FontAwesome";
    content: "\f0d7"
}
.rjsf button.array-item-move-up::before {
    font-family: "FontAwesome";
    content: "\f0d8"
}
.rjsf button.array-item-remove::before {
    font-family: "FontAwesome";
    content: "\f1f8"
}

.rjsf button.btn-add::before {
    font-family: "FontAwesome";
    content: "\f067"
}

.rjsf legend {
    color: hsl(0, 0%, 42%)
}

.rjsf label {
    color: hsl(0, 0%, 42%)
}

.rjsf fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

/** XXX hide submit button ... */
.rjsf button[type="submit"] {
    display: none;
}

