# git - a distributed version control system with speed and efficiency
# http://git-scm.com/

[buildout]
extends =
  curl.cfg
  libexpat.cfg
  openssl.cfg
  perl.cfg
  zlib.cfg
parts =
  git

[git]
recipe = hexagonit.recipe.cmmi
url = http://kernel.org/pub/software/scm/git/git-1.7.3.4.tar.bz2
md5sum = 3a2602016f98c529cda7b9fad1a6e216
configure-options =
  --with-curl=${curl:location}
  --with-openssl=${openssl:location}
  --with-zlib=${zlib:location}
  --with-expat=${libexpat:location}
  --with-perl=${perl:location}/bin/perl
  --without-python
  --without-tcltk

environment =
  PATH=${curl:location}/bin:%(PATH)s
  CPPFLAGS=-I${zlib:location}/include
  LDFLAGS=-L${zlib:location}/lib -L${openssl:location}/lib -Wl,-rpath -Wl,${openssl:location}/lib -Wl,-rpath -Wl,${zlib:location}/lib
