[buildout]
parts =
  openoffice-bin
find-links =
  http://www.nexedi.org/static/packages/source/

[openoffice-bin]
# XXX: This section and recipe have to be reviewed against using
# zc.buildout.download API and generally following zc.buildout way
# of dealing with remote resources

#recipe = erp5.recipe.openoffice
recipe = z3c.recipe.openoffice
install-pyuno-egg = no
hack-openoffice-python = no
base-url = http://download.services.openoffice.org/files/stable/3.3.0/OOo_3.3.0_Linux_%s_install-rpm-wJRE_en-US.tar.gz
version = 3
