# OpenSSL - a toolkit implementing SSL v2/v3 and TLS v1 protocols as
#           well as a full-strength general purpose cryptography
#           library.
# http://www.openssl.org/

[buildout]
extends =
  zlib.cfg

parts =
  openssl

[openssl]
recipe = hexagonit.recipe.cmmi
url = https://www.openssl.org/source/openssl-1.0.0d.tar.gz
md5sum = 40b6ea380cc8a5bf9734c2f8bf7e701e
configure-command = ./config
configure-options =
  -I${zlib:location}/include
  -L${zlib:location}/lib
  --openssldir=${buildout:parts-directory}/${:_buildout_section_name_}/etc/ssl
  --prefix=${buildout:parts-directory}/${:_buildout_section_name_}
  --libdir=lib
  shared
  no-zlib

# it seems that parallel build sometimes fails for openssl.
make-options =
  -j1
  LDFLAGS="-Wl,-rpath -Wl,${zlib:location}/lib -Wl,-rpath -Wl,${buildout:parts-directory}/${:_buildout_section_name_}/lib"
  SHARED_LDFLAGS="-Wl,-rpath -Wl,${zlib:location}/lib -Wl,-rpath -Wl,${buildout:parts-directory}/${:_buildout_section_name_}/lib"
