.device-selector {
  text-align: center;
  font-size: 19px;
}

.video, .photo, .camera-output {
  max-width: 100%;
  width: auto;
  height: 360px;
  filter: brightness(1);
  text-align: center;
}

.canvas {
  display: none;
  filter: brightness(1);
}

.camera {
  min-height: 390px;
}

.camera-input, .camera-output {
  text-align: center;
}

.camera, .camera-input, .camera-output {
  display: inline-block;
}

.capture-button, .reset-button {
  display: inline;
  margin: 0 2em 0 2em;
}

.startbutton {
  display: block;
  margin: 0 auto;
}

.startbutton, .capture-button, .reset-button {
  position: relative;
  bottom: 3em;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

.camera {
  margin-top: 1em;
}