.device-selector {
  text-align: center;
  font-size: 19px;
}

div[data-gadget-scope="field_your_document_scanner_gadget"] {
  text-align: center;
}

.video, .photo, .camera-output {
  max-width: 100%;
  width: auto;
  max-height: 360px;
  filter: brightness(1);
  text-align: center;
}

.camera-input, .camera-output {
  min-height: 360px;
}

.canvas {
  display: none;
  filter: brightness(1);
}

.page-number {
  display: inline;
}

.camera-header {
  font-size: 12pt;
  font-weight: 400;
}

.camera-input, .camera-output, .camera-header, .edit-picture {
  text-align: center;
}

.camera, .camera-input, .camera-output {
  display: inline-block;
}

.capture-button, .reset-button {
  display: inline;
  margin: 0 2em 0 2em;
}

.startbutton {
  display: block;
  margin: 0 auto;
}

.reset-btn, .confirm-btn, .edit-btn, .take-picture-btn,
    .capture-btn, .change-camera-btn, .confirm-btn {
  font-size: 44px;
  color: #212529;
  padding: 0 16px 0 16px;
}

.take-picture-btn, .capture-btn, .confirm-btn,
    .reset-btn, .confirm-btn, .change-camera-btn, .edit-btn {
  display: none;
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}