<dtml-let hwidth="310" mwidth="43" scwidth="58" optwidth="260" affwidth="65">

ul li:before{
  content: "\00BB \0020";
}

.list_dialog {
  background-color: <dtml-var document_background_color>;
  margin: 0px;
  width: <dtml-var "hwidth">px;
}

.options_list {
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-color: #3D7474;
  background-color: #C1DAD2;
  padding: 0px;
  width: <dtml-var "optwidth">px;
  margin-left: <dtml-var "(hwidth / 2)- (optwidth / 2)">px;
  display: none;
}

.aff_options {
  border-right: solid 1px;
  border-top: solid 1px;
  border-left: solid 1px;
  border-color: #3D7474;
  background-color: #D3E6DE;
  padding: 0px;
  width: <dtml-var "affwidth">px;
  margin-left: <dtml-var "(hwidth / 2)- (affwidth / 2)">px;
  text-align: center;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.info {
  color: #3D7474;
  font-size: 13px;
}

.text_div {
  padding: 18px;
}

.fieldset_login {
  border-color: #3D7474;
  margin: 15px;
}

.login_div {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  border-top-color: #3D7474;
  background-color: #C1DAD2;
  margin-bottom: 3px;
}

.login {
  width: <dtml-var "hwidth">px;
  background-color: #DAE6E6;
  border: solid 1px;
  border-color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
}

.window {
margin: 15px;
}

.AnchorColumn {
  !important
  border-style:none;
  border-color:<dtml-var document_border_color>;
  background-color:<dtml-var document_background_color>;
  border-width:0;
}

.button {
  border-Top-Width: thin;
  border-Top-Color: #3D6464;
  border-Right-Width: thin;
  border-Right-Color: #3D6464;
  border-Bottom-Width: thin;
  border-Bottom-Color: #3D7474;
  border-Left-Width: thin;
  border-Left-Color: #3D7474;
  background-Color: #C1DAD2;
  margin: 2px;
  color: #3D6464;
  text-decoration: none;
}

.button_save {
  border-Top-Width: thin;
  border-Top-Color: #3D6464;
  border-Right-Width: thin;
  border-Right-Color: #3D6464;
  border-Bottom-Width: thin;
  border-Bottom-Color: #3D7474;
  border-Left-Width: thin;
  border-Left-Color: #3D7474;
  background-Color: #C1DAD2;
  margin: 2px;
  color: #3D6464;
  text-decoration: none;
  width: 100px;
}


.shortcuts {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #3D7474;
  background-color: #C1DAD2;
  margin-bottom: 5px;
  /*padding-top: 10px;*/
}

.div_navigation {
  border-top: solid 1px;
  /*border-bottom: solid 1px;*/
  border-color: #3D7474;
  background-color: #C1DAD2;
  margin-bottom: 5px;
  position: absolute;
  right: 10px;
}

.List_top {
  padding-left: 5px;
  padding-right: 5px;
  border-left: solid 0px;
  border-right: solid 0px;
  border-color: #3D7474;
}

.top_list {
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  border-color: #3D7474;
}

.main_div_list {
  padding: 5px;
  margin-top: 0px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-color: #3D7474;
}

.top1 {
  margin-top: 5px;
  margin-left: 10px;
  border-top: solid 1px;
  border-color: #3D7474;
  width: 45px;
}

.bottom1 {
  margin-right: 10px;
  border-bottom: solid 1px;
  border-color: #3D7474;
  width: 45px;
  position: absolute;
  right: 0px;
  margin-bottom: 7px;
}

.breadcrumb {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  border-top-color: #3D7474;
  background-color: #C1DAD2;
}

.erp {
  font-size: 18px;
  color: #3D7474;
  text-decoration: none;
}

.link_white {
  font-size: 14px;
  color: #FFFFFF;
}

.modu {
  font-size: 14px;
  color: #3D7474;
  font-style: bold;
  text-decoration: none;
  padding-right: 5px;
}

.mobil {
  font-size: 10px;
  font-style: italic;
  color: #3D7474;
  text-decoration: none;
}

.delimit_haut {
  height: 25px;
  border-right: solid 5px;
  border-color: #3D7474;
  background-color: #D3E6DE;
}

.delimit_bas {
  height: 25px;
  border-left: solid 5px;
  border-color: #3D7474;
  background-color: #D3E6DE;
}

.mod_badg {
  background-color: #D3E6DE;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: #3D7474;
  padding-top: 0.5em;
  padding-left: 10px;
}

.list {
  list-style: none;
}

.option {
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  border-left: solid 1px;
  border-left-color: #3D7474;
  border-right: solid 1px;
  border-right-color: #3D7474;
  background-color: #D3E6DE;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 10px;
}

.modules {
  border-top: solid 1px;
  border-top-color: #3D7474;
  border-right: solid 1px;
  border-right-color: #3D7474;
  border-left: solid 1px;
  border-left-color: #3D7474;
  padding-left: 10px;
  background-color: #D3E6DE;
}

input#hidden_button {
  width: 0;
  height: 0;
  display: inline;
  border-width: 0;
  float: left;
}

img {
  border: transparent;
}

.small {
  font-size: 11pt;
}

.infield {
  overflow : auto;
}

textarea {
  width:100%;
}

.title {
  border-top: solid 1px;
  border-top-color: #3D7474;
  border-left: solid 5px;
  border-left-color: #3D7474;
  background-color: #D3E6DE;
}

.title_list {
  margin-left: 10px;
  margin-right: 10px;
  border-left: solid 5px;
  border-left-color: #3D7474;
  border-right: solid 5px;
  border-right-color: #3D7474;
  background-color: #D3E6DE;
  margin-bottom: 5px;
}

.title_index {
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  border-left: solid 1px;
  border-right: solid 1px;
  border-left-color: #3D7474;
  margin-bottom: 8px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-top-color: #3D7474;
  background-color: #C1DAD2;
}

.delimitation {
  border-top: solid 1px;
  border-top-color: #4e9fa0;
}

.group {
  border-right: solid 5px;
  border-right-color: #3D7474;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  position:absolute;
  background-color: #D3E6DE;
  right: 0px;
}


.div1 {
  background-color: #DAE6E6;
  position:absolute;
  left: 0px;
  top: 0px;
  width: <dtml-var "hwidth">px;
}

.master {
  width: <dtml-var "hwidth">px;
  background-color: #DAE6E6;
  position: absolute;
  left: 0px;
}

.big {
  font-size: 13pt;
}

.div2 {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  margin: 3px;
  border-top-color: #3D7474;
  background-color: #b7e8e8;
}

.div4 {
  border-top: solid 1px;
  border-top-color: #3D7474;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #C1DAD2;
  margin-bottom: 5px;
  width:100%;
}

.link {
  color: #3D7474;
  font-size: 8pt;
  text-decoration: none;
}

.link_selected {
  color: #3C6464;
  font-weight: bold;
  font-size: 8pt;
  text-decoration: underline;
}

.div_short_mode, .div_normal_mode {
  color: #3D7474;
  font-weight: bold;
  font-size: 8pt;
  text-decoration: underline;
  cursor: pointer;
}

.link2 {
  color: #3D7474;
  font-size: 12pt;
  text-decoration: none;
  font-weight: bold;
}

.link3 {
  color: #3D7474;
  font-size: 10pt;
  text-decoration: none;
  padding-left: 15px;
}

fieldset {
  border-color: #3D7474;
  overflow : auto;
}

.border {
  border-color: #3D7474;
}

.nomarg {
  line-height:90%;
}

.div_prev {
  margin-top: 5px;
  width: 95%;
  text-align:left;
  padding-left:5px;
  line-height:85%;
  margin-bottom: 10px;
}

.div_next {
  border-top: solid 1px;
  border-top-color: #3D7474;
  border-left: solid 1px;
  border-left-color: #3D7474;
  border-bottom: solid 1px;
  border-bottom-color: #3D7474;
  border-right: solid 1px;
  border-right-color: #3D7474;
  width: 70px;
  text-align:center;
  position: absolute;
  padding-right: 3px;
  padding-bottom: 3px;
  right: 0px;
  /*line-height: 85%;*/
  top: 100px;
}

.div_sc {
  border: solid 1px;
  border-color: #3D7474;
  border-bottom: transparent;
  background-color: #D3E6DE;
  width:<dtml-var "scwidth">px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: <dtml-var "(hwidth / 2)- (scwidth / 2)">px;
  padding: 0px;
  line-height:70%;
}

.div_gtt {
  border-top: solid 0px;
  border-bottom: solid 0px;
  border-top-color: #3D7474;
  border-bottom-color: #3D7474;
  border-left: solid 0px;
  border-left-color: #3D7474;
  border-right: solid 0px;
  border-right-color: #3D7474;
  background-color: #D3E6DE;
  margin: 0px;
}

.div1_list {
  width:<dtml-var "hwidth">px;
  background-color: #DAE6E6;
  border-color: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* listbox */

.ListSummary {
  background: url('<dtml-var expr="getPortalObject().absolute_url()">/images/tab_left.png') top left no-repeat;
  color: #000;
  background-color: <dtml-var document_background_color>;
  padding-left: 10px;
}

.ListSummary table {
  width: 100%;
  padding-right: 5px;
  padding-bottom: 2px;
}

.ListSummary img {
  display: none;
}

.ListSummary #listbox_next_page,
.ListSummary #listbox_previous_page {
  display: block;
  font-size: 0;
  width: 22px;
  height: 22px;
}

.ListContent {
  color: #000;
  background-color: <dtml-var document_background_color>;
  padding-left: 1px;
}

.ListContent table {
  width: 100%;
}

.ListContent #listbox_label_line {
  color: <dtml-var font_color>;
  background-color: <dtml-var listbox_label_background_color>;
}

.ListContent #listbox_stat_line {
  background-color: <dtml-var listbox_stat_background_color>;
}

.DataA {
  background-color: #DAE6E6 ;
  border-top: solid 1px;
  border-color: #3D7474;
}

.DataB {
  background-color: #FFFFFF;
  border-top: solid 1px;
  border-color: #3D7474;
}

.ListSummary #listbox_title_line #listbox_title,
.ListSummary #listbox_title_line #listbox_item_number,
.ListSummary #listbox_title_line #listbox_record_number {
  vertical-align: middle;
}

.ListContent tr.DataA:hover,
.ListContent tr.DataB:hover {
  background-color: <dtml-var listbox_hover_background_color>;
}

.ListContent td {
  border-color: <dtml-var document_border_color>;
}

.right_title {
  background-color: #C1DAD2;
  padding-left: 5px;
  font-size: 16px;
  font-style: italic;
  color: #0000FF;
}

.left_data {
  text-decoration: none;
  padding-left: 30px;
  color: #000000;
  font-size: 12px;
}

.data {
  font-size: 10px;
}

.dialog_selector button .description {
  display: none;
}

.ListSummary img {
  display: none;
}

#favourites button .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/favourite.png');
}

#modules button .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/appearance.png');
}

#language button .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/language.png');
}

#search button .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/search.png');
}

#actions button .image{
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/exec16.png');
  position: relative;
  background-repeat: no-repeat;
}
#jump button .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/jump.png');
  position: relative;
  background-repeat: no-repeat;
}

.separator {
  height: 24px;
  width: 2px;
  margin-left: 6px;
  margin-right: 6px;
  display: block;
  float: left;
}

#context_bar {
  padding-top: 2px;
  padding-bottom: 2px;
  /* border-bottom-width: 1px;
  border-bottom-style: solid; */
  color: inherit;
  vertical-align: middle;
}

#context_bar .separator {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/sepacla.png');
  height: 16px;
}

#context_bar .tool_buttons .jump_first .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/2leftarrowb.png');
}

#context_bar .tool_buttons .jump_previous .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/1leftarrowb.png');
}

#context_bar .tool_buttons .jump_next .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/1rightarrowb.png');
}

#context_bar .tool_buttons .jump_last .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/2rightarrowb.png');
}

#context_bar .tool_buttons .list_mode .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/text_block.png');
}

#context_bar .tool_buttons .new .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/filenew.png');
}

#context_bar .tool_buttons .clone .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/fileclone.png');
}

#context_bar .tool_buttons .cut .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/editcut.png');
}

#context_bar .tool_buttons .copy .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/editcopy.png');
}

#context_bar .tool_buttons .paste .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/editpaste.png');
}

#context_bar .tool_buttons .delete .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/editdelete.png');
}

#context_bar .tool_buttons .find .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/find.png');
}

#context_bar .tool_buttons .show_all .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/showall.png');
}

#context_bar .tool_buttons .filter .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/filter.png');
}

#context_bar .tool_buttons .filter_on .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/filter_on.png');
}

#context_bar .tool_buttons .sort .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/sort.png');
}

#context_bar .tool_buttons .configure .image {
  background-image: url('<dtml-var expr="getPortalObject().absolute_url()">/images/configure.png');
}

#navigation_buttons {
text-align: right;
float: right
}

#navigation_bar button .image,
#context_bar button .image,
.dialog_selector button .image,
.document .actions button.save .image {
  display: block;
  width: 16px;
  height: 16px;
}

#navigation_bar button .description,
#context_bar button .description,
.content .field .description,
.document .actions button.save .description,
#context_bar .tool_buttons a .description {
  display: none;
}

#navigation_bar button,
#context_bar button,
.dialog_selector button,
.document .actions button.save {
  border: 0;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0;
  position: relative;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

#main_bar button .description,
#context_bar button .description,
.content .field .description,
.document .actions button.save .description,
#context_bar .tool_buttons a .description {
  display: none;
}

#context_bar .tool_buttons {
  vertical-align: middle;
}

#context_bar .tool_buttons a {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0;
  position: relative;
}

#context_bar .tool_buttons button,
#context_bar .tool_buttons a {
 float: left;
}

#context_bar .tool_buttons a .image,
#context_bar .tool_buttons button .image,
#context_bar .tool_buttons a img {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  display: block;
  background-repeat: no-repeat;
}

p.clear {
  height: 0;
  margin: 0;
  padding: 0;
  clear: both;
}

.field label {
  width: 30%;
  font-size: 14px;
  color: #3D7474;
  font-style: italic;
}

.required label {
  font-weight: bold;
}

body {
  background-color: <dtml-var background_color>;
}

#transition_message {
  margin-left: 1em;
  color: #f00;
  background-color: inherit;
  font-weight: bold;
}

.field .error {
  background-color: inherit;
  color: #f00;
  font-weight: bold;
}

#listbox_title_line {
  position: relative;
}

#listbox_page_selection {
  position: absolute;
  right: 5px;
  top: 3px;
}

#listbox_record_number {
  font-weight: bold;
}

fieldset.left,
fieldset.right,
fieldset.center,
fieldset.bottom {
  border-width: 1px;
  border-style: solid;
}

fieldset.left legend,
fieldset.right legend,
fieldset.center legend,
fieldset.bottom legend {
  display: none;
}

</dtml-let>
