html head + body.ui-overlay-a, html head + body.ui-overlay-a .ui-page, html head + body.ui-overlay-a .ui-page .ui-panel-wrapper {
  background: #FBFBFB; 
}

html .ui-panel .ui-listview li a, html .ui-panel .ui-listview li div.ui-btn {
    /* padding: .4em 2.75em .4em 1em; */
    padding: .4em 0.75em !important;
}
html .ui-panel .ui-listview li a span, html .ui-panel .ui-listview li div.ui-btn span {
    padding-left: 15px;
}
.ui-mobile .ui-page-active {
    overflow-x: visible;
}
html div[role='main'] > div.ui-content {
  padding: 5px;
}




/*
html .ui-bar-a, html .ui-bar-a .ui-bar-inherit, html body .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #49227D;
}
html head + body .ui-bar-a .ui-btn:hover, html head + body .ui-body-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover, html head + body .ui-group-theme-a .ui-btn:hover, html head + body .ui-group-theme-a .ui-btn.ui-btn-a:hover, html head + body .ui-group-theme-a .ui-btn.ui-btn-a:active, html head + body .ui-bar-a .ui-btn:active, html head + body .ui-body-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active, html head + body .ui-group-theme-a .ui-btn:active, html head + body .ui-group-theme-a .ui-btn-a:active, html head + body .ui-bar-a .ui-btn.ui-btn-active, html head + body .ui-body-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, html head + body .ui-group-theme-a .ui-btn-active, html head + body .ui-group-theme-a .ui-btn-a.ui-btn-active {
    background-color: #19023E;
    background: #19023E;
}
*/
.ui-grid-container > ul, .ui-grid-container > ul li {
  list-style: none outside none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
html .ui-grid-container > ul.ui-grid-column-5 > li:nth-child(-n+2).ui-grid-span-4 {
  width: 80%;
}
html .ui-grid-container > ul.ui-grid-column-5 > .ui-grid-span-1 {
  width: 20%;
}

html .ui-title .ui-title-bold {
  font-weight: bold;
}

.ui-grid-container > ul > li:first-child {
  clear: left;
}
.ui-grid-container > ul > li {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*.ui-grid-container .ui-grid-a .ui-block-a, .ui-grid-container .ui-grid-a .ui-block-a {
  padding: 10px 15px;
}
.ui-grid-container .ui-grid-b .ui-block-a, .ui-grid-container .ui-grid-b .ui-block-b {
  padding: 10px 15px;
}*/
/*
@media (max-width: 32em)
html.ui-mobile .ui-grid-container.ui-responsive > ul > li, html.ui-mobile .ui-grid-container.ui-responsive > ul[class*="ui-grid-column"] > li {
  width: 100%;
}*/

.margin-0 {margin: 0}
.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}
.padding-tb-5 {padding: 10px 0;}
.padding-tb-10 {padding: 10px 0;}
.padding-tb-20 {padding: 20px 0;}
.padding-lr-5 {padding: 0 5px;}
.padding-lr-10 {padding: 0 10px;}
.padding-lr-20 {padding: 0 20px;}
.padding-lrb-20 {padding: 0 20px 20px;}
.border-gray {    border: 1px solid #C3C3C3; border-radius: 3px;}
.ui-text{
  padding: 0 10px;
}
.ui-text-left {text-align: left;}
.ui-text-right {text-align: right;}
.ui-text-center {
  text-align: center;
}
.ui-text-ERROR, .ui-text-error {
  color: #DC4343;
}
.ui-text-INFO, .ui-text-info {
  color: #DC4343;
}
.ui-text-OK, .ui-text-ok {
  color: green;
}
.ui-text-WARNING, .ui-text-warning {
  color: #cea813;
  text-shadow: 1px 0px 0px rgb(224, 224, 116);
}

.ui-text-desabled {
  color: rgba(128, 128, 128, 0.66);
}

.text-data {
  height: 120px;
  color: #596167;
}

.text-overview {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-notice {
  margin-top: 5px;
  margin-left: 20px;
  color: #5C676D;
  font-size: .95em;
}

.ui-content .ui-table {
  border: 1px solid rgba(0,0,0,.05);
}

.ui-panel-overview {
  background: #fff;
  margin: 15px 10px 20px 10px;
  border: 1px solid #f1f5fc;
  border-radius: 4px;
}

.overview-content {
  padding: 0 20px 20px;
}
.overview-header {
  padding: 5px;
}

.overview-header > .content-title {
  color: #535354;
  background-color: transparent;
  padding: 10px 15px 5px 15px;
  line-height: 16px;
}

.overview-header > .content-title:after {
  content: "";
  display: block;
  clear: both;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
}

.content-title > .overview-title {
  float: left;
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.content-title > .overview-title a {
  text-decoration: none;
}

.content-title > .commands {
  display: block;
  padding: 0;
  margin: 0;
  float: right;
  font-size: 1.2em;
}

.content-details {
  padding: 20px;
}
.content-details h2:first-child {
  margin-top: 0;
}

.content-details .ui-block-a {
  font-weight: bold;
  padding: 5px;
}
.content-details .ui-block-b {
  font-weight: normal;
  padding: 5px;
  white-space: nowrap;
}

html .ui-panel-overview table {
  border: 1px solid rgba(0,0,0,.05);
  border-bottom: none;
}

html .content-details table tr th, html .content-details table tr td {
  padding: 7px;
}
/*html .content-details .instances-parameters table tr td {
  padding: 0 0 0 10px;
}*/
html .content-details .instances-parameters table tr td:first-child {
  width: 25%;
}
html .content-details .instances-parameters table tr td:last-child {
  padding: 0;
  width: 50px;
}
html .promise-list table tr {
  cursor: pointer;
}
.promise-list {
  padding: 10px;
}

.ui-table-custom tr td, .ui-table-custom tr td {
  padding: .2em .3em;
  vertical-align: middle;
}

table tr .prop-edit {
  cursor: pointer;
}

.header-form-overview {
  padding: 0 10px;
}

.ui-panel-overview .panel-body {
  padding: 15px;
  padding-top: 0;
  line-height: 26px;
}
.overview-header .ui-field-contain, .listbox-header .ui-field-contain {
  padding-left: 5px;
}
.ui-content .ui-panel-overview .ui-listview-inset {
    margin: 1em 0;
    margin-top: 0.1em;
}

.ui-content-sections {
  margin-top: 1em;
  padding: 1em;
  -webkit-border-radius: .3125em;
  border-radius: .3125em;
  border: 1px solid #A2A2A2;
}

html head + body h2.section-title {
  margin: 0;
  margin-top: 40px;
  color: #557186;
  margin-left: 2px;
}

html head + body h2.section-title > span {
  font-size: 22px;
  padding-left: 10px;
}

html head + body .ui-panel-overview > h2 {
  font-weight: bold;
  font-size: 105%;
  padding: 0 15px;
}

.ui-status-icon {
  display: inline-block;
}
.ui-status-icon:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  background: #DC4343;
}

.ui-status-icon-fx:before {
  height: 3.5em;
  width: 3.5em;
}

.ui-status-text, a span.ui-status-text {
  font-weight: bold;
  padding-left: 7px;
  font-size: 1.09em;
  /*top: 13px;
  left: 40px;
  position: absolute;*/
}

.ui-status-ok:before, .ui-status-OK:before {
  background: green;
}
.ui-status-error:before, .ui-status-ERROR:before {
  background: #DC4343;
}
.ui-status-warning:before, .ui-status-WARNING:before {
  background: #f0ad4e;
}
.status-text-ok:before, .status-text-OK:before {
  color: green;
}
.status-text-error:before, .status-text-ERROR:before {
  color: #DC4343;
}
.status-text-warning:before, .status-text-WARNING:before {
  color: #f0ad4e;
}

.label-warning, .label-WARNING {
  background-color: #f0ad4e;
}
.label-error, .label-ERROR {
  background-color: #DC4343;
}
.label-ok, .label-OK {
  background-color: green;
}
.label-info, .label-INFO {
  background-color: #79c1d9;
}
.label {
  display: inline;
  padding: .4em .8em;
  font-weight: 700;
  line-height: 2.1em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-text {
  display: block;
  margin: .6em 0 .4em;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

.ui-content-hidden {
  display: none;
}

.ui-listview-container {
  padding: 10px;
}
.ui-block-a .ui-listview-container:first-child, .ui-block-b .ui-listview-container:first-child, .ui-block-c .ui-listview-container:first-child {
  padding-top: 0;
}
.ui-panel-overview .ui-listview-container {
  padding: 0;
}
.ui-listview-container ul {
  padding: 0;
}
.ui-listview-container ul li a.ui-btn {
  text-align: left;
}
ul li .ui-collapse-content {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
  margin: 0;
  padding: .5em 1em;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-style: solid;
}
ul li:last-child .ui-collapse-content {
  border-top-width: 0;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

ul li .ui-collapse-content fieldset > div, ul li .ui-collapse-content fieldset > span {
  padding: 5px 0;
}

.controlgroup-textinput{
  padding-top:.22em;
  padding-bottom:.22em;
}

.ui-promise-title > h2 {
  color: #797979;
  background-color: transparent;
  /*border-bottom: 1px solid #ddd;*/
  font-size: 1.1em !important;
  padding-bottom: .2em;
  margin: 0 0 .7375em;
}

.ui-instance-title > h2 {
  color: #194173;
}
.ui-instance-title span {
  padding-left: 5px;
}
.ui-content .ui-promise-content .ui-promise-title > h2, .ui-content .ui-responsive .ui-instance-title > h2 {
  font-size: 1.1em;
}

.overview-header .ui-input-text input, .listbox-header .ui-input-text input {
  padding: .6em;
}

#promise-overview .ui-block-b, #promise-overview .ui-block-a, #promise-overview .ui-block-c {
  padding: 10px;
}

.ui-table-columntoggle-btn {display: none;}

.ui-icon-grid:after {
  content: "\f00b";
}
.ui-icon-bullets:after {
  content: "\f009";
}

.column-check {
  width: 54px;
  padding-top: 5px;
}

.listbox-filter-panel, .overview-filter-panel {
  padding: 1em;
  padding-top: .1em;
}
html.ui-mobile body .listbox-filter-panel h2, html.ui-mobile body .listbox-filter-panel h3 {
  font-weight: bold;
}
body .listbox-filter-panel h2{
  text-align: center;
  font-size: 110%;
}
body .listbox-filter-panel h3{
  text-align: left;
  font-size: 105%;
}

html table tbody td a, html table tbody th a {
  padding: .4em .75em;
}
html table tbody td a.inline-link, html table tbody th a.inline-link {
  margin: -8px;
  margin-top: -6px;
}
html .custom-grid-wrap table thead tr th {
  font-weight: 800;
}

/* LEGEND CHART */
.legend {
  list-style: none;
  font-size: 12px;
}
.legend ul li {
    list-style: none;
}
.legend:before {
  display: block;
  content: "";
  clear: both;
}
.legend li {
  float: left;
  font-size: 12px;
  padding-right: 10px;
}
.legend li span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

/* Graph */
.graph {
  margin: 20px 0;
  position: relative;
}
.graph-label {
  font-size: 75%;
}
.dygraph-xlabel {
  font-size: 110%;
  color: #344558;
  padding: 8px 0;
}
.graph-full {
  margin: 0 20px;
  position: relative;
}
.graph-medium {
  height: 200px;
  width: 100%;
}
.graph-h-medium {
  height: 230px;
  width: 100%;
  margin: 30px 0;
}
.ui-grid-column .graph-state-labels {
  margin: 10px;
}
.ui-grid-column .graph-state-labels label{
  font-weight: normal;
}

.hosting-block, .content-medium {
  width: 80%;
}

/*  INfo Box */
.infobox {
  display: inline-block;
  height: 54px;
  color: #555;
  background-color: #FFF;
  box-shadow: none;
  margin: -1px 0 0 -1px;
  margin: 5px 0;
  padding: 8px 3px 6px 9px;
  border: 1px solid;
  border-color: #D8D8D8;
  vertical-align: middle;
  text-align: left;
  position: relative;
  /*cursor: pointer;*/
}
.infobox:hover {
    background: rgba(128, 128, 128, .1);
}

.infobox>.infobox-icon {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  width: 44px;
}

.infobox>.infobox-data {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  text-align: left;
  line-height: 21px;
  min-width: 130px;
  padding-left: 8px;
  position: relative;
  top: 0;
}

.infobox>.infobox-data>.infobox-data-number {
  display: block;
  font-size: 22px;
  margin: 2px 0 4px;
  position: relative;
  text-shadow: 1px 1px 0 rgba(0,0,0,.15);
}

.infobox .infobox-content {
    color: #555;
    max-width: 140px;
}

/*  Log Box */

.logbox {
  padding: 15px 20px 20px;
}

.logbox .description {
  padding-bottom: 15px;
  border-bottom: 1px dashed #e6e6e6;
  display: block;
  color: #7b7b7b;
}

.logbox tr {
  line-height: 23px;
  border-bottom: 1px solid #e6e6e6;
}

.logbox tr td {
  color: #7b7b7b;
  padding: 10px;
  cursor: pointer;
}

.tooltipster-shadow {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

span.tooltipster-icon {
  display: block;
  cursor: help;
  margin-left: 4px;
  background: #0078c9;
  border: 3px solid #0078c9;
  width: 2.3em;
  height: 2.3em;
  padding: 0.4em 0 0;
  border-radius: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.6em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  margin: -0.3em 0 0 0;
  float: right;
  clear: right;
}

span.tooltipster-icon:hover {
  background: #fff;
  color: #5d6365;
  border: 3px solid #5d6365;
  cursor: pointer;
}

.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
.tooltipster-light .tooltipster-content p, .tooltipster-shadow .tooltipster-content p {
  margin: 5px;
  font-size: 12px;
}

html .tooltipster-base table{
  border: 1px solid rgba(0,0,0,.05);
}

html .tooltipster-base table td, html .tooltipster-base table th {
  padding: 5px;
}

html table.instance-overview tr td > a.selected {
  border-left: 4px solid #93D2B8;
  border-color: #93D2B8;
}

html table.instance-overview td:first-child > a, html table.instance-overview td:first-child > a:hover {
  border-left: 4px solid transparent;
}

.login-box {
  position: fixed;
  top: 35%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  width: 320px;
}

/* Hpanel box for hosting subscription */
.hpanel {
  background-color: none;
  border: none;
  box-shadow: none;
  margin-bottom: 25px;
}

.hpanel .panel-body {
  min-height: 150px;
  background: #fff;
  border: 1px solid #e4e5e7;
  color: #6a6c6f;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.hpanel > .panel-footer {
  color: inherit;
  border: 1px solid #e4e5e7;
  border-top: none;
  font-size: 90%;
  background: #f7f9fa;
  padding: 10px 15px;
}

.panel-header {
  padding: 10px 5px;
  color: #6a6c6f;
  text-transform: uppercase;
  font-weight: 600;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.hpanel .panel-body > h2:first-child {
  margin-top: 0;
  color: #6a6c6f;
  text-transform: uppercase;
  font-weight: 600;
  float: left;
}

.panel-body:before, .panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}


/* Magnific Popup */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
}

/* Alert box custom */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre-line;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block > p,
.alert-block > ul {
margin-bottom: 0;
}

.alert-block p + p {
margin-top: 5px;
}

/******** LOADER *******************/

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

.signal {
  border: 4px solid #024352;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin: -15px 0 0 -15px;
  /*opacity: 0;*/
  position: absolute;
  top: 40px;
  width: 50px;
  /*animation: pulsate .5s ease-out;
  animation-iteration-count: infinite;*/
  animation: rotate 0.8s infinite linear;
  border-right-color: transparent;
  z-index: 100;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.loadbox {
  width: 100%;
  overflow: auto;
  position: relative;
  cursor: pointer;
  border: 1px solid #efefef;
  background-color: #f1f1f1;
}

.load-content {
  overflow: auto;
  min-height: 250px;
  background-color: #fff;
}

html body div.loadbox .loadwait > a {
  color: #335d77;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: 99px auto;
  padding: 15px;
  width: 40%;
  cursor: pointer;
  border: 1px solid #dadada;
}

/************** Media @ **********************/
@media all and (max-width: 62em) {
  .m-hidden {
    display: none;
  }
  form.search .ui-block-a {
    width: 60%;
    float: left;
  }
  form.search .ui-block-b {
    width: 40%;
    float:left;
  }
  .ui-panel-overview {
    margin: 15px 0 20px 0;
  }
  html .ui-content {
    padding: .1em;
  }
  html .jqm-navmenu-panel .ui-content {
    padding: 1em;
  }
  .graph {
    margin: 10px 0;
  }
  .graph-full {
    margin: 0 10px;
  }
  .hosting-block, .content-medium {
    width: 100%;
  }
  html table:not(.ui-responsive) tbody tr td:first-child a, html table:not(ui-responsive) tbody tr th:first-child a {
    position: relative;
  }
  html .content-details .instances-parameters table tr td {
    padding: 10px 0 10px 10px;
  }
  .content-details {
    padding: 10px;
  }
  table td .prop-edit {
    padding: 5px;
    max-height: 2.05em;
  }
}

