/*
 ERP5 discussion forum.
*/
.discussion-post-body-container blockquote {
    background: none repeat scroll 0 0 #fafafa;
    border-left: 6px solid #e7e9ec;
    font-style: italic;
    padding: 5px 5px 5px 16px;
}

.attachment {
  width:100%;
  float:left;
}

.discussion-post-header{
  background-color: #efefef;
  color:#000000;
  padding: 3px;  
  margin: 0em;
  height: 20px;
}

.discussion-post-header .thumbnail,
.discussion-post-creator .title{
  float:left;
}

.discussion-post-header .thumbnail{
  /*width:14%;*/
  margin:4px;
}

.discussion-post-header .title{
  width:85%;
  margin-top:4px;
}

a.discussion-post-title{
  font-weight: bold;
}

.discussion-post-body-container{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  word-break: break-word;
}


.discussion-post-author-signature-container{
  margin-left:10px; 
  margin-bottom:1em; 
  color:#aaa;
  float:left;
  width: 100%;
  font-size: 90%;
  border-bottom:1px solid #EEEEEE;
}

button.discussion-post-action-button{
  padding: 3px;
}

blockquote {
  background-color:#E9E9E9 ;
  border:1px solid #8CACBB;
  margin:5px;
  padding:10px 15px;
}

.discussion-post-actions{
  float:left;
  clear:both;
}