<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="DTMLMethod" module="OFS.DTMLMethod"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>_Cacheable__manager_id</string> </key>
            <value> <string>http_cache</string> </value>
        </item>
        <item>
            <key> <string>__name__</string> </key>
            <value> <string>simplescrollbars.css</string> </value>
        </item>
        <item>
            <key> <string>_vars</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>globals</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>raw</string> </key>
            <value> <string>.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {\n
  position: absolute;\n
  background: #ccc;\n
  -moz-box-sizing: border-box;\n
  box-sizing: border-box;\n
  border: 1px solid #bbb;\n
  border-radius: 2px;\n
}\n
\n
.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {\n
  position: absolute;\n
  z-index: 6;\n
  background: #eee;\n
}\n
\n
.CodeMirror-simplescroll-horizontal {\n
  bottom: 0; left: 0;\n
  height: 8px;\n
}\n
.CodeMirror-simplescroll-horizontal div {\n
  bottom: 0;\n
  height: 100%;\n
}\n
\n
.CodeMirror-simplescroll-vertical {\n
  right: 0; top: 0;\n
  width: 8px;\n
}\n
.CodeMirror-simplescroll-vertical div {\n
  right: 0;\n
  width: 100%;\n
}\n
\n
\n
.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {\n
  display: none;\n
}\n
\n
.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {\n
  position: absolute;\n
  background: #bcd;\n
  border-radius: 3px;\n
}\n
\n
.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {\n
  position: absolute;\n
  z-index: 6;\n
}\n
\n
.CodeMirror-overlayscroll-horizontal {\n
  bottom: 0; left: 0;\n
  height: 6px;\n
}\n
.CodeMirror-overlayscroll-horizontal div {\n
  bottom: 0;\n
  height: 100%;\n
}\n
\n
.CodeMirror-overlayscroll-vertical {\n
  right: 0; top: 0;\n
  width: 6px;\n
}\n
.CodeMirror-overlayscroll-vertical div {\n
  right: 0;\n
  width: 100%;\n
}\n
</string> </value>
        </item>
      </dictionary>
    </pickle>
  </record>
</ZopeData>
