html body .ui-input-text.invalid,
html body .required.invalid ~ label {
  border: 1px solid red !important;
}
.bold {
  font-weight: bold;
}
.info {
  font-size: 80%;
  line-height: 100%;
  /* TODO: FIX */
  /* display: inline-block;*/
  display: none;
}
.info:after {
  content: "|";
  padding: 0 .5em;
}
.info:last-child:after {
  content: none;
}
.dashed a, .dashed.a {
  border-style: dashed;
  opacity: .75;
}
.note {
  font-weight: bold;
  display: block;
}
.center {
  display: block;
  text-align: center;
  margin: 0;
}
.left {
  display: block;
  text-align: left;
}
.right {
  display: block;
  text-align: right;
}
.starred {
  color: #0FBABD;
}
.large {
  font-size: 125%;
}
.ui-popup .file {
  max-width: 70%;
}
.inline {
  max-width: 50%;
  margin: 0 auto;
}
.inline a.ui-btn:after {
  font-size: .9em;
}
@media (max-width: 40em) {
  .inline {
    max-width: 70%;
    margin: 0 auto;
  }
}
html a.ui-btn.error.status,
html a.ui-btn.error.status:hover,
html a.ui-btn.error.status:active {
  background-color: red !important;
  color: #fff !important;
}
.alert {
  color: red;
  font-weight: bold;
}
.alert textarea {
  color: red !important;
  font-weight: normal;
}
.alert label {
  display: block;
  width: 100%;
  float: none;
}
tbody .alert,
tbody .proceed,
tbody .large {
  display: block;
  text-align: center
}
@media (max-width: 40em) {
  tbody .alert,
  tbody .proceed {
    font-size: 1.5em;
  }
}
.proceed {
  color: #0FBABD;
  font-weight: bold;
}
.static {
  cursor: default;
}
.input_board {
  margin: 0;
}
.input_board .ui-controlgroup-controls {
  width: 100%;
}
.input_board .ui-controlgroup-controls .ui-input-text input {
  box-shadow: 0 0 2px #999999 inset;
  -webkit-box-shadow: 0 0 2px #999999 inset;
}
.button_board {
  text-align: center;
}
.profile {
  display: inline-block;
  border: 1px solid;
}
@media (max-width: 40em) {
  .profile {
    margin-top: 1em;
  }
}
.profile img {
  padding-right: 1em;
  float: left;
  vertical-align: middle;
  max-width: 120px;
}
.tag {
  margin: 0;
  font-size: 200%;
}
  /* Modified on BASE */
.mini {
  font-size: 80%;
}
@media (max-width: 40em) {
  .tag {
    margin: 0;
    font-size: 150%;
  }
}
.downloads:before {
  content: "·";
}
.inline-icon {
  padding: 0 .5em;
}
.logo_wrap {
  margin-top: 0em;
  margin-bottom: 2em;
  padding: 0.5em;
  text-align: center;
}
.logo_wrap img {
  max-height: 8em;
}
@media (max-width: 40em) {
  .logo_wrap {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .logo_wrap img {
    max-height: 7em;
  }
}
@media (max-width: 30em) {
  .logo_wrap {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}
@media (max-width: 20em) {
  .logo_wrap {
    margin-top: .25em;
    margin-bottom: .25em;
  }
}
/* custom signin buttons: thx Zocial http://zocial.smcllns.com/ */
.signin_google,
.signin_google:visited {
  background: #DD4B39 !important;
  color: #fff !important;
  text-shadow: none !important;
  cursor: pointer !important;
}
.signin_fb,
.signin_fb:visited {
  background: #4863ae !important;
  color: #fff !important;
  text-shadow: none !important;
  cursor: pointer !important;
}
.signin_fb:hover,
.signin_fb:active,
.signin_fb.ui-btn-active,
.signin_google:hover,
.signin_google:active,
.signin_google.ui-btn-active {
  background-image: -webkit-gradient(linear, center bottom, center top, from(rgba(255, 255, 255, 0.1)), color-stop(0.30, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.1))) !important;
  background-image: -webkit-linear-gradient(center bottom , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)) !important;
  background-image: -ms-linear-gradient(center bottom , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)) !important;
  background-image: -moz-linear-gradient(center bottom , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)) !important;
  background-image: -o-linear-gradient(center bottom , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)) !important;
  background-image: linear-gradient(center bottom , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)) !important;
}
.signin_google:focus,
.signin_google.ui-focus
.signin_fb:focus,
.signin_fb.ui-focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* ====================== flags =================================== */
/*
builder: http://iconizr.com/
svg flags: https://github.com/koppi/iso-country-flags-svg-collection
*/
html body .ui-btn.flag:after {
  background-repeat: no-repeat;
  background-size: 18px 36px;
  -webkit-background-size: 18px 36px;
  background-image: url("../img/flags.png");
  content: "";
  margin-top: 11px !important;
  width: 18px;
  height: 18px;
  border-radius: .6em;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
html body .ui-btn.flag.ui-icon-flag-cn:after {background-position: 0px 0px; }
html body .ui-btn.flag.ui-icon-flag-en:after {background-position: 0px -18px; }

/* ====================== ribbon =================================== */
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}
