<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="DTMLMethod" module="OFS.DTMLMethod"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>__name__</string> </key>
            <value> <string>pivot.css</string> </value>
        </item>
        <item>
            <key> <string>_vars</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>globals</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>raw</string> </key>
            <value> <string>.pvtUi { color: #333; }\n
\n
\n
table.pvtTable {\n
    font-size: 8pt;\n
    text-align: left;\n
    border-collapse: collapse;\n
}\n
table.pvtTable tr th, table.pvtTable tr th {\n
    background-color: #e6EEEE;\n
    border: 1px solid #CDCDCD;\n
    font-size: 8pt;\n
    padding: 5px;\n
}\n
\n
table.pvtTable .pvtColLabel {text-align: center;}\n
table.pvtTable .pvtTotalLabel {text-align: right;}\n
\n
table.pvtTable tr td {\n
    color: #3D3D3D;\n
    padding: 5px;\n
    background-color: #FFF;\n
    border: 1px solid #CDCDCD;\n
    vertical-align: top;\n
    text-align: right;\n
}\n
\n
.pvtTotal, .pvtGrandTotal { font-weight: bold; }\n
\n
.pvtVals { text-align: center;}\n
.pvtAggregator { margin-bottom: 5px ;}\n
\n
.pvtAxisContainer, .pvtVals {\n
    border: 1px solid gray;\n
    background: #EEE;\n
    padding: 5px;\n
    min-width: 20px;\n
    min-height: 20px;\n
}\n
.pvtAxisContainer li {\n
    padding: 8px 6px;\n
    list-style-type: none;\n
    cursor:move;\n
}\n
.pvtAxisContainer li.pvtPlaceholder {\n
    -webkit-border-radius: 5px;\n
    padding: 3px 15px;\n
    -moz-border-radius: 5px;\n
    border-radius: 5px;\n
    border: 1px dashed #aaa;\n
}\n
\n
.pvtAxisContainer li span.pvtAttr {\n
    background: #F3F3F3;\n
    border: 1px solid #DEDEDE;\n
    padding: 2px 5px;\n
    white-space:nowrap;\n
    -webkit-border-radius: 5px;\n
    -moz-border-radius: 5px;\n
    border-radius: 5px;\n
}\n
\n
.pvtTriangle {\n
    cursor:pointer;\n
    color: grey;\n
}\n
\n
.pvtHorizList li { display: inline; }\n
.pvtVertList { vertical-align: top; }\n
\n
.pvtFilteredAttribute { font-style: italic }\n
\n
.pvtFilterBox{\n
    z-index: 100;\n
    width: 280px;\n
    border: 1px solid gray;\n
    background-color: #fff;\n
    position: absolute;\n
    padding: 20px;\n
    text-align: center;\n
}\n
\n
.pvtFilterBox h4{ margin:0; }\n
.pvtFilterBox p { margin: 1em auto; }\n
.pvtFilterBox label { font-weight: normal; }\n
.pvtFilterBox input[type=\'checkbox\'] { margin-right: 5px; }\n
\n
.pvtCheckContainer{\n
    text-align: left;\n
    overflow: scroll;\n
    width: 100%;\n
    max-height: 200px;\n
}\n
.pvtCheckContainer p{ margin: 5px; }\n
\n
.pvtRendererArea { padding: 5px;}</string> </value>
        </item>
      </dictionary>
    </pickle>
  </record>
</ZopeData>
