/* 
taken from https://github.com/FontFaceKit/open-sans
==============================
Apache License v2.00
Copyright 2012 Google Inc. All Rights Reserved.
==============================
*/
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans/open-sans-regular.eot');
  src: url('open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('open-sans/open-sans-regular.woff') format('woff'),
       url('open-sans/open-sans-regular.woff2') format('woff2'),
       url('open-sans/open-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans/open-sans-light.eot');
  src: url('open-sans/open-sans-light.eot?#iefix') format('embedded-opentype'),
       url('open-sans/open-sans-light.woff') format('woff'),
       url('open-sans/open-sans-light.woff2') format('woff2'),
       url('open-sans/open-sans-light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans/open-sans-italic.eot');
  src: url('open-sans/open-sans-italic.eot?#iefix') format('embedded-opentype'),
       url('open-sans/open-sans-italic.woff') format('woff'),
       url('open-sans/open-sans-italic.woff2') format('woff2'),
       url('open-sans/open-sans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('open-sans/open-sans-bold.eot');
  src: url('open-sans/open-sans-bold.eot?#iefix') format('embedded-opentype'),
       url('open-sans/open-sans-bold.woff') format('woff'),
       url('open-sans/open-sans-bold.woff2') format('woff2'),
       url('open-sans/open-sans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
