# Common packages versions for all flavours
[versions]
# XXX refactor parts shared with versions.cfg into a common file
# 1.3.1 fixes environment leak
PyXML = 0.8.4
erp5_bt5_revision = ${:erp5_products_revision}
erp5_products_revision =
ipython = 0.10
numpy = 1.3.0
plone.recipe.zope2instance = 3.6
pysvn = 1.7.2
python-memcached = 1.45
rdiff-backup = 1.0.5

# special version of z3c.recipe.openoffice with architecture autodetection
z3c.recipe.openoffice = 0.3.1dev2

# minimal versions - packages which are not to know work in version lower then
# requested
erp5.recipe.mysqlserver >= 1.1.3
erp5.recipe.sphinxserver >= 1.0.2
erp5.recipe.standaloneinstance >= 0.4
hexagonit.recipe.cmmi >= 1.3.1
xml-marshaller >= 0.9.2
