# Packages versions specific for Zope 2.8 flavour
[buildout]
extends = ../profiles/versions-common.cfg

[versions]
# 0.20.8 is the latest version of itools that works with python-2.4.
itools = 0.20.8
# we sometimes have troubles with downloading alpha/beta version of
# lxml, and this is the lates stable version.
lxml = 2.2.8
# official pysvn egg does not work with zc.recipe.egg, so we use our
# modified version
#pysvn = 1.7.2
# Default ERP5 Appliance buildout is sticked to zc.buildout 1.4.4, as instance
# generation is known not to work with zc.buildout >= 1.5
# zc.recipe.egg is pinned as this is known compatible versions with
# zc.buildout from 1.4 branch
zc.buildout = 1.4.4
zc.recipe.egg = 1.2.2
