div[data-gadget-url$="gadget_generate_rss_link.html"] button {
  padding: 6pt;
  background-color: #FF6600;
  color: #FFFFFF;
  border-radius: 0.325em;
  border-width: 1px;
  border-style: solid;
  border-color: #FF6600;
  min-width: 8em;
}