/* DOCUMENTATION */

.documentation p {
  margin: 10px 0;
  font-family: monospace;
  color: #263238;
  line-height: 18px;
}
.documentation pre {
  line-height: 18px;
  font-family: monospace;
}
.documentation h1 {
  margin: 0 0 30px 0;
  font-size: 2.3em;
}
.documentation h3 {
  margin: 0 0 15px 0;
  font-size: 1.6em;
}
.documentation h4 {
  margin-top: 20px;
}
.documentation h5 {
  font-weight: bold;
}
.documentation h4,
.documentation h5 {
  margin: 0;
}

.documentation .line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 30px 0;
}

.documentation .item-param-1,
.documentation .item-param-2 {
    width: 25%;
    display: inline-block;
}

.item-name {
  background-color: #F8F8F8;
  padding: 8px;
  margin: 8px 0;
  font-size: 1.2em; }

.item-name span:first-of-type {
  font-weight: bold; }

.item-name span:last-of-type {
  font-style: italic; }


.line {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin: 30px 0; }