/*   _________________           CSS CORAMY          _________________ */
/*   ________ Thierry_Faucher@coramy.com - last modif. : 08-03-03 ________ */

A:link {
	color: #2F5651;
	text-decoration: underline;
}

A:visited {
	color: #2F5651;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
	color: red;
}

BODY{
	background-color: #DAE6E6;
	color: #2F5651;
}

.Title{
 font-family: Arial, Helvetica, Sans-serif;
 font-size: 32px;
 line-height: 24px;
 color: #2F5651;
 text-align: center;
}

.subSummary{
 font-family: Arial, Helvetica, Sans-serif;
 font-size: 10px;
 line-height: 10px;
 color: #2F5651;
}

.Coramy{
 font-family: Palatino;
 font-weight: bold;
 font-size: 36px;
 line-height: 36px;
 color: #a39d99;
 text-align: center;
}

.TexteActif{
 font-family: Palatino;
 font-weight: normal;
 font-size: 18px;
 line-height: 18px;
 color: #1a3664;
 text-align: center;
}

.TextePassif{
 font-family: Palatino;
 font-weight: normal;
 font-size: 18px;
 line-height: 18px;
 color: #a39d99;
 text-align: center;
}

.Texte{
 font-family:   Arial,  Helvetica, Sans-serif;
 font-size: 14px;
 line-height: 14px;
 color: #1a3664;
 text-align: left;
}


