<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="DTMLMethod" module="OFS.DTMLMethod"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>_Cacheable__manager_id</string> </key>
            <value> <string>http_cache</string> </value>
        </item>
        <item>
            <key> <string>__name__</string> </key>
            <value> <string>mode_test.css</string> </value>
        </item>
        <item>
            <key> <string>_vars</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>globals</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>raw</string> </key>
            <value> <string>.mt-output .mt-token {\n
  border: 1px solid #ddd;\n
  white-space: pre;\n
  font-family: "Consolas", monospace;\n
  text-align: center;\n
}\n
\n
.mt-output .mt-style {\n
  font-size: x-small;\n
}\n
\n
.mt-output .mt-state {\n
  font-size: x-small;\n
  vertical-align: top;\n
}\n
\n
.mt-output .mt-state-row {\n
  display: none;\n
}\n
\n
.mt-state-unhide .mt-output .mt-state-row {\n
  display: table-row;\n
}\n
</string> </value>
        </item>
      </dictionary>
    </pickle>
  </record>
</ZopeData>
