<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="Web Style" module="erp5.portal_type"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>_Access_contents_information_Permission</string> </key>
            <value>
              <tuple>
                <string>Anonymous</string>
                <string>Assignee</string>
                <string>Assignor</string>
                <string>Associate</string>
                <string>Auditor</string>
                <string>Manager</string>
                <string>Owner</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>_Add_portal_content_Permission</string> </key>
            <value>
              <tuple>
                <string>Assignor</string>
                <string>Manager</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>_Change_local_roles_Permission</string> </key>
            <value>
              <tuple>
                <string>Assignor</string>
                <string>Manager</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>_Modify_portal_content_Permission</string> </key>
            <value>
              <tuple>
                <string>Manager</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>_View_Permission</string> </key>
            <value>
              <tuple>
                <string>Anonymous</string>
                <string>Assignee</string>
                <string>Assignor</string>
                <string>Associate</string>
                <string>Auditor</string>
                <string>Manager</string>
                <string>Owner</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>categories</string> </key>
            <value>
              <tuple>
                <string>publication_section/erp_implementation</string>
              </tuple>
            </value>
        </item>
        <item>
            <key> <string>content_md5</string> </key>
            <value>
              <none/>
            </value>
        </item>
        <item>
            <key> <string>default_reference</string> </key>
            <value> <string>gadget_e5g_ecommerce_field_shopbox_widget.css</string> </value>
        </item>
        <item>
            <key> <string>description</string> </key>
            <value>
              <none/>
            </value>
        </item>
        <item>
            <key> <string>id</string> </key>
            <value> <string>gadget_e5g_ecommerce_field_shopbox_widget_css</string> </value>
        </item>
        <item>
            <key> <string>language</string> </key>
            <value> <string>en</string> </value>
        </item>
        <item>
            <key> <string>portal_type</string> </key>
            <value> <string>Web Style</string> </value>
        </item>
        <item>
            <key> <string>short_title</string> </key>
            <value>
              <none/>
            </value>
        </item>
        <item>
            <key> <string>text_content</string> </key>
            <value> <string encoding="cdata"><![CDATA[

/* \n
  quick and dirty. Integrate into main css if this is to be used more often\n
  Taken from http://demos.jquerymobile.com/1.4.5/listview-grid/\n
*/\n
@media (max-width: 48em) {\n
  .ui-shopbox .ui-shopbox-wrapper .ui-listview {\n
    margin: 0;  \n
  }\n
}\n
/* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */\n
@media (min-width: 48em) {\n
  .ui-shopbox .ui-shopbox-wrapper {\n
    padding: .5625em; /* 9px */\n
  }\n
  .ui-shopbox .ui-listview li {\n
      float: left;\n
      width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */\n
      height: 14.5em; /* 232p */\n
      margin: .5625em 1.2%;\n
  }\n
  .ui-shopbox-wrapper .ui-listview li > .ui-btn {\n
      -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */\n
      -moz-box-sizing: border-box;\n
      box-sizing: border-box;\n
      height: 100%;\n
  }\n
  .ui-shopbox .ui-listview li.ui-li-has-thumb .ui-li-thumb {\n
      height: auto; /* To keep aspect ratio. */\n
      max-width: 100%;\n
      max-height: none;\n
  }\n
  /* Make all list items and anchors inherit the border-radius from the UL. */\n
  .ui-shopbox .ui-listview li,\n
  .ui-shopbox .ui-listview li .ui-btn,\n
  .ui-shopbox .ui-listview .ui-li-thumb {\n
      -webkit-border-radius: inherit;\n
      border-radius: inherit;\n
  }\n
  /* Hide the icon */\n
  .ui-shopbox .ui-listview .ui-btn-icon-right:after {\n
      display: none;\n
  }\n
  /* Make text wrap. */\n
  .ui-shopbox .ui-listview h2,\n
  .ui-shopbox .ui-listview p {\n
      white-space: normal;\n
      overflow: visible;\n
      position: absolute;\n
      left: 0;\n
      right: 0;\n
  }\n
  /* Text position */\n
  .ui-shopbox .ui-listview h2 {\n
      margin: 0;\n
      padding: .125em 1em;\n
      bottom: 50%;\n
      font-weight: bold;\n
  }\n
  .ui-shopbox .ui-listview p {\n
      margin: 0;\n
      padding: 0 1.25em;\n
      min-height: 50%;\n
      bottom: 0;\n
  }\n
  .ui-listview .ui-li-has-thumb h2 {\n
      bottom: 35%;\n
  }\n
  .ui-listview .ui-li-has-thumb p {\n
      min-height: 35%;\n
      max-height: 35%;\n
  }\n
  /* ui-li-aside has class .ui-li-desc as well so we have to override some things. */\n
  .ui-shopbox .ui-listview .ui-li-aside {\n
    padding: .125em .625em;\n
    width: auto;\n
    min-height: 0;\n
    top: 0;\n
    left: auto;\n
    bottom: auto;\n
    -webkit-border-top-right-radius: inherit;\n
    border-top-right-radius: inherit;\n
    -webkit-border-bottom-left-radius: inherit;\n
    border-bottom-left-radius: inherit;\n
    -webkit-border-bottom-right-radius: 0;\n
    border-bottom-right-radius: 0;\n
  }\n
  /* If you want to add shadow, don\'t kill the focus style. */\n
  .ui-shopbox .ui-listview li {\n
    -moz-box-shadow: 0px 0px 9px #111;\n
    -webkit-box-shadow: 0px 0px 9px #111;\n
    box-shadow: 0px 0px 9px #111;\n
  }\n
  /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */\n
  .ui-shopbox .ui-listview li > .ui-btn:hover {\n
    -moz-box-shadow: 0px 0px 12px #33ccff;\n
    -webkit-box-shadow: 0px 0px 12px #33ccff;\n
    box-shadow: 0px 0px 12px #33ccff;\n
  }\n
  /* Animate focus and hover style, and resizing. */\n
  .ui-shopbox .ui-listview li,\n
  .ui-shopbox .ui-listview .ui-btn {\n
    -webkit-transition: all 500ms ease;\n
    -moz-transition: all 500ms ease;\n
    -o-transition: all 500ms ease;\n
    -ms-transition: all 500ms ease;\n
    transition: all 500ms ease;\n
  }\n
}\n
/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */\n
@media (min-width: 63.75em) {\n
    .ui-shopbox .ui-shopbox-wrapper {\n
      padding: .625em; /* 10px */\n
    }\n
    /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.\n
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */\n
    .ui-shopbox .ui-listview {\n
      max-width: 62.5em; /* 1000px */\n
      margin: 0 auto;\n
    }\n
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),\n
    but we stick to percentage values for demo purposes. */\n
    .ui-shopbox .ui-listview li {\n
      width: 23%;\n
      height: 230px;\n
      margin: .625em 1%;\n
    }\n
}\n
\n
/* Third breakpoint is 77.5em (1240px). 5 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */\n
@media (min-width: 77.5em) {\n
    .ui-shopbox .ui-shopbox-wrapper {\n
      padding: .625em; /* 10px */\n
    }\n
    /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.\n
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */\n
    .ui-shopbox .ui-listview {\n
      max-width: 76.25em; /* 1220px */\n
      margin: 0 auto;\n
    }\n
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),\n
    but we stick to percentage values for demo purposes. */\n
    .ui-shopbox .ui-listview li {\n
      width: 18%;\n
      height: 230px;\n
      margin: .625em 1%;\n
    }\n
}\n
\n
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */

]]></string> </value>
        </item>
        <item>
            <key> <string>title</string> </key>
            <value> <string>Gadget E5G Ecommerce Field Shopbox Widget CSS</string> </value>
        </item>
        <item>
            <key> <string>version</string> </key>
            <value> <string>001</string> </value>
        </item>
        <item>
            <key> <string>workflow_history</string> </key>
            <value>
              <persistent> <string encoding="base64">AAAAAAAAAAI=</string> </persistent>
            </value>
        </item>
      </dictionary>
    </pickle>
  </record>
  <record id="2" aka="AAAAAAAAAAI=">
    <pickle>
      <global name="PersistentMapping" module="Persistence.mapping"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>data</string> </key>
            <value>
              <dictionary>
                <item>
                    <key> <string>document_publication_workflow</string> </key>
                    <value>
                      <persistent> <string encoding="base64">AAAAAAAAAAM=</string> </persistent>
                    </value>
                </item>
                <item>
                    <key> <string>edit_workflow</string> </key>
                    <value>
                      <persistent> <string encoding="base64">AAAAAAAAAAQ=</string> </persistent>
                    </value>
                </item>
                <item>
                    <key> <string>processing_status_workflow</string> </key>
                    <value>
                      <persistent> <string encoding="base64">AAAAAAAAAAU=</string> </persistent>
                    </value>
                </item>
              </dictionary>
            </value>
        </item>
      </dictionary>
    </pickle>
  </record>
  <record id="3" aka="AAAAAAAAAAM=">
    <pickle>
      <global name="WorkflowHistoryList" module="Products.ERP5Type.patches.WorkflowTool"/>
    </pickle>
    <pickle>
      <tuple>
        <none/>
        <list>
          <dictionary>
            <item>
                <key> <string>action</string> </key>
                <value> <string>publish</string> </value>
            </item>
            <item>
                <key> <string>actor</string> </key>
                <value> <string>sven</string> </value>
            </item>
            <item>
                <key> <string>comment</string> </key>
                <value> <string></string> </value>
            </item>
            <item>
                <key> <string>error_message</string> </key>
                <value> <string></string> </value>
            </item>
            <item>
                <key> <string>time</string> </key>
                <value>
                  <object>
                    <klass>
                      <global name="DateTime" module="DateTime.DateTime"/>
                    </klass>
                    <tuple>
                      <none/>
                    </tuple>
                    <state>
                      <tuple>
                        <float>1431684177.03</float>
                        <string>GMT</string>
                      </tuple>
                    </state>
                  </object>
                </value>
            </item>
            <item>
                <key> <string>validation_state</string> </key>
                <value> <string>published</string> </value>
            </item>
          </dictionary>
        </list>
      </tuple>
    </pickle>
  </record>
  <record id="4" aka="AAAAAAAAAAQ=">
    <pickle>
      <global name="WorkflowHistoryList" module="Products.ERP5Type.patches.WorkflowTool"/>
    </pickle>
    <pickle>
      <tuple>
        <none/>
        <list>
          <dictionary>
            <item>
                <key> <string>action</string> </key>
                <value> <string>edit</string> </value>
            </item>
            <item>
                <key> <string>actor</string> </key>
                <value> <string>sven</string> </value>
            </item>
            <item>
                <key> <string>comment</string> </key>
                <value>
                  <none/>
                </value>
            </item>
            <item>
                <key> <string>error_message</string> </key>
                <value> <string></string> </value>
            </item>
            <item>
                <key> <string>serial</string> </key>
                <value> <string>943.2338.61904.48981</string> </value>
            </item>
            <item>
                <key> <string>state</string> </key>
                <value> <string>current</string> </value>
            </item>
            <item>
                <key> <string>time</string> </key>
                <value>
                  <object>
                    <klass>
                      <global name="DateTime" module="DateTime.DateTime"/>
                    </klass>
                    <tuple>
                      <none/>
                    </tuple>
                    <state>
                      <tuple>
                        <float>1431940681.87</float>
                        <string>GMT</string>
                      </tuple>
                    </state>
                  </object>
                </value>
            </item>
          </dictionary>
        </list>
      </tuple>
    </pickle>
  </record>
  <record id="5" aka="AAAAAAAAAAU=">
    <pickle>
      <global name="WorkflowHistoryList" module="Products.ERP5Type.patches.WorkflowTool"/>
    </pickle>
    <pickle>
      <tuple>
        <none/>
        <list>
          <dictionary>
            <item>
                <key> <string>action</string> </key>
                <value> <string>detect_converted_file</string> </value>
            </item>
            <item>
                <key> <string>actor</string> </key>
                <value> <string>sven</string> </value>
            </item>
            <item>
                <key> <string>comment</string> </key>
                <value> <string></string> </value>
            </item>
            <item>
                <key> <string>error_message</string> </key>
                <value> <string></string> </value>
            </item>
            <item>
                <key> <string>external_processing_state</string> </key>
                <value> <string>converted</string> </value>
            </item>
            <item>
                <key> <string>serial</string> </key>
                <value> <string>0.0.0.0</string> </value>
            </item>
            <item>
                <key> <string>time</string> </key>
                <value>
                  <object>
                    <klass>
                      <global name="DateTime" module="DateTime.DateTime"/>
                    </klass>
                    <tuple>
                      <none/>
                    </tuple>
                    <state>
                      <tuple>
                        <float>1431676983.68</float>
                        <string>GMT</string>
                      </tuple>
                    </state>
                  </object>
                </value>
            </item>
          </dictionary>
        </list>
      </tuple>
    </pickle>
  </record>
</ZopeData>
