/* FRONT PAGE */

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list  {
  margin-top: 10px;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box  {
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  padding: 5px;
  padding-left: 15px;
}

div[data-gadget-url$="gadget_front_page_info.html"] a {
  color: #267B87;
  text-decoration: none;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .project-info  {
  display: inline-flex;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .project-info .left  {
  width: 35%;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .project-line  {
  margin-bottom: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.58em;
  letter-spacing: -.003em;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .project-title  {
  color: #19535F;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 5px;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box span.margined  {
  margin-right: 5px;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .status  {
  padding-left: 21px;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .status.none {
  background: #adadad !important;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .status.none.orange  {
  background: #f0ad4e !important;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .status.none.red  {
  background: #de1e00 !important;
}

div[data-gadget-url$="gadget_front_page_info.html"] .front-project-list .project-box .status.none.green {
  background: #00b80c !important;
}


/* PROJECT PAGE */

.gadget-content .ui-field-contain .bottom .first-line-buttons {
  -webkit-appearance: none;
  margin-top: 0;
  margin-bottom: 20px;
}

.gadget-content div.project_links {
  margin-top: 12px;
}

button:disabled{
  background-color:#FFC9A4;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.gadget-content a.first-line-buttons {
  padding: 6pt;
  margin-top: 12px;
  margin-right: 6pt;
  background-color: #FFF;
  color: #111;
  border-radius: 0.325em;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  display: inline-block;
}

.gadget-content span.test-result {
  padding: 6pt;
  margin-top: 30pt;
  margin-right: 10px;
  background-color: #FFF;
  color: #111;
  border-radius: 0.325em;
  border-width: 1px;
  border-style: solid;
  min-width: 8em;
}

.gadget-content svg.test-result.ui-hidden {
  visibility: hidden;
}

.gadget-content svg.test-result path.ui-hidden {
  visibility: hidden;
}

.gadget-content svg.test-result {
  margin-right: 7px;
}

.gadget-content svg.test-result.fail {
  fill: red;
}

.gadget-content svg.test-result.pass {
  fill: green;
}

.gadget-content svg.test-result.running {
  fill: blue;
}

.gadget-content svg.test-result.cancelled {
  fill: grey;
}

.gadget-content span.test-result a {
  color: #111;
}

.worklist-title {
  color: #777777;
  margin-top: 10px;
}


/* PROJECT HOME PAGE */

body.cke_editable h1 {
  margin-top: 1.5em;
  font-family: "Roboto", Arial, sans-serif;
  color: #19535F;
  font-size: 2em;
  margin: 0.67em 0;
}

body.cke_editable h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  color: #19535F;
}

body.cke_editable p, body.cke_editable li, body.cke_editable span {
  font-family: 'Heuristica', 'Helvetica', Times, serif;
}

body.cke_editable ul li, body.cke_editable p {
  font-size: 1.25em;
  line-height: 1.58em;
  letter-spacing: -.003em;
}

body.cke_editable a {
  color: #267B87;
  text-decoration: none;
}