<dtml-var expr="portal_skins.erp5_xhtml_style['erp5.css'](portal_url=portal_url, 
main_border_color = main_border_color,
context_bar_background_color = context_bar_background_color,
navigation_bar_background_color = navigation_bar_background_color,
background_color = background_color,
font_family = font_family,
font_size = font_size,
font_color = font_color,
dialog_background_color = dialog_background_color,
dialog_border_color = dialog_border_color,
link_color = link_color,
link_hover_color = link_hover_color,
button_description_color = button_description_color,
document_border_color = document_border_color,
document_background_color = document_background_color,
listbox_label_background_color = listbox_label_background_color,
listbox_odd_background_color = listbox_odd_background_color,
listbox_even_background_color = listbox_even_background_color,
tooltip_border_color = tooltip_border_color,
tooltip_background_color = tooltip_background_color,
tooltip_color = tooltip_color,
listbox_hover_background_color = listbox_hover_background_color,
listbox_stat_background_color = listbox_stat_background_color,
alternate_font_color = alternate_font_color,
group_border_color = group_border_color,)">



/* customize some styles of erp5_xhtml_style/erp5.css */
body {
  background: #81B2DC url(<dtml-var expr="portal_url()">/tiolive_base_image/bg.png) repeat-y;
}

.ListSummary table {
  background-color: <dtml-var document_background_color>;
}

#status #logged_in_as {
  display: none;
}


/* TioLive selectors */
#main_bar {
  padding-bottom: 0px;
  padding-top: 0px;
}

#top-bar {
  background-color:#4780B0;
  border-bottom:1px solid #FFFFFF;
  overflow:hidden;
}

#fieldset-tiobar {
  float:left;
  overflow:hidden;
  border-style: none;
  font-size:11pt;
}

#fieldset-tiobar select{
  margin-right: 5px;
}

#main_bar .second {
  display: inline;
}

#tiologin {
  font-size:9pt;
  color:#FFFFFF;
  float:left;
  height:100%;
  line-height:23px;
  margin:0 100px 0 0;
  padding:5px 0pt 0pt;
  text-align: left;
}

#tiologin img#user-img{
  margin-left: 5px;
  vertical-align: middle;
  padding: 3px;
}

#link-login{
  float:left;
}
#link-login:link, #link-login:active, #link-login:visited {
  color:#FFFFFF;
  float:left;
  height:100%;
  line-height:23px;
  font-size:9pt;
  font-weight:normal;
  text-transform:lowercase;
}

#fieldset-tiosearch {

  float:left;
	border:none;
	font-size:1pt;
	color:#f6a801;
	background: url(<dtml-var expr="portal_url()">/tiolive_base_image/input-tiosearch.png) no-repeat transparent;
	background-position: 0 5px;

}

#fieldset-tiosearch button.input-submit {

  border:none;
  background: url(<dtml-var expr="portal_url()">/tiolive_base_image/input-tiosearch.png) no-repeat transparent;
  background-position: 100px 0;
	cursor: pointer;
  
}

#fieldset-tiosearch input.input-text, #fieldset-tiosearch input.input-text:hover, #fieldset-tiosearch input.input-text:focus {

	background: transparent;
	border:none;

}

#fieldset-tiosearch {

  margin: 0;
	width:163px;
	right:5px;
	overflow: hidden;
	display:block;
	height: 23px;

}

#fieldset-tiosearch input.input-text {

  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  margin-left: 3px;
	width:132px;
  color: #777777;

}

#fieldset-tiosearch input.input-text:focus {color:#000000}

#fieldset-tiosearch button.input-submit {

  width: 23px;
  height: 23px;
  
}

#top-bar fieldset{

  padding: 5px;

}

#transition_message {
  color: #c40;
}
