<dtml-var expr="portal_skins.erp5_knowledge_pad['erp5_knowledge_box.css']">

.tab_selected {
  font-weight: bold;
  background-color: <dtml-var background_color>;
  border-bottom: 1px solid <dtml-var background_color>;
}

#page_wrapper {
  background: <dtml-var background_color>;;
  margin:0 0 0.5em 0;
  padding:0.2em 0 0 0;
}

div.block table.listbox button.sort_button{
  background: inherit; 
}