/* Submit button */
#submit{
  text-align: left;
  width: 180pt;
  padding: 12pt;
  color: #f8fff3;
  border-radius: 0.325em;
  background-color: #FF6600;
  position: fixed;
  bottom: 12pt;
  right: 24pt;
}
/* upload */

label[for='upload'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='upload']:hover {
  background: #208577;
}

label[for='upload']::before {
    content: "\f0c5";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='upload'] {
  width:100px;
}

div[data-gadget-scope='upload'] > div > div {
  display:none;
}

/* image */

label[for='image'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='image']:hover {
  background: #208577;
}

label[for='image']::before {
    content: "\f030";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='image'] {
  width:100px;
}

div[data-gadget-scope='image'] > div > div {
  display:none;
}

/* Audio */

label[for='audio'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor:pointer;
}

label[for='audio']:hover {
  background: #208577;
}

label[for='audio']::before {
    content: "\f130";
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='audio'] {
  width:100px;
  /*margin-left:-92%;*/
}

div[data-gadget-scope='audio'] > div > div {
  display:none;
}

@keyframes anim {
	to {
		background-color: #F49797;
	}
}

/* audio view */

div[for='audio_view'] {
  background-color: #E50000;
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  text-align: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

div[id='audio_view'] {
  font-size: 200%;
  transform: translate(0,81%);
}

@keyframes anim {
	to {
		background-color: #F49797;
	}
}

/* text */

label[for='text_button'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor:pointer;
}

label[for='text_button']:hover {
  background: #208577;
}

label[for='text_button']::before {
    content: "\f044";
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='text_button'] {
  width:100px;
  /*margin-left:-92%;*/
}

div[data-gadget-scope='text_button']  > div > div{
  display:none;
}

div[data-gadget-scope='text']  > div > div{
  display:none;
}

/* 2 x 2 icons */
.left{
  display: inline-block;
  width: auto; 
}

.right{
  display: inline-block;
  width: auto; 
}

@media only screen and (max-width: 720px) {
    .right {
        margin-left: 3%;
    }
    #submit{
      width: 60pt;
      right: 1pt;
    }
  div[for='audio_view'] {
    transform: translate(12vw,-20%);
    height: 40vw;
    width: 40vw;
  }
  div[id='audio_view'] {
    font-size: 10vw;
    transform: translate(0,13vw);
  }/*
  div[class="field_container"] {
    transform: translate(9vw,-16%);
  }*/
}
