/* Submit button */
#submit{
  text-align: left;
  width: 180pt;
  padding: 12pt;
  color: #f8fff3;
  border-radius: 0.325em;
  background-color: #FF6600;
  position: fixed;
  bottom: 12pt;
  right: 24pt;
}
/* upload */

label[for='upload'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='upload']:hover {
  text-align: center;
  /*border: 1px solid red;*/
  background: #208577;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='upload']::before {
    content: "\f0c5";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='upload'] {
  width:100px;
}

div[data-gadget-scope='upload'] > div > div {
  display:none;
}

/* image */

label[for='image'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='image']:hover {
  text-align: center;
  /*border: 1px solid red;*/
  background: #208577;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='image']::before {
    content: "\f030";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='image'] {
  width:100px;
}

div[data-gadget-scope='image'] > div > div {
  display:none;
}

/* Audio */

label[for='audio'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='audio']:hover {
  text-align: center;
  /*border: 1px solid red;*/
  background: #208577;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='audio']::before {
    content: "\f130";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='audio'] {
  width:100px;
  /*margin-left:-92%;*/
}

div[data-gadget-scope='audio'] > div > div {
  display:none;
}

/* text */

label[for='text_button'] {
  text-align: center;
  /*border: 1px solid red;*/
  background: #206185;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='text_button']:hover {
  text-align: center;
  /*border: 1px solid red;*/
  background: #208577;
  border-radius: 50%;
  height: 100px;
  cursor:pointer;
}

label[for='text_button']::before {
    content: "\f044";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff
}

div[data-gadget-scope='text_button'] {
  width:100px;
  /*margin-left:-92%;*/
}

div[data-gadget-scope='text_button']  > div > div{
  display:none;
}

div[data-gadget-scope='text']  > div > div{
  display:none;
}

/* 2 x 2 icons */
.left{
  display: inline-block;
  width: auto; 
}

.right{
  display: inline-block;
  width: auto; 
}

@media only screen and (max-width: 720px) {
    .right {
        margin-left: 3%;
    }
    #submit{
      width: 60pt;
      right: 1pt;
    }
}
