div[data-gadget-url$="gadget_document_scanner.html"] {
  text-align: center;
}

div[data-gadget-url$="gadget_document_scanner.html"] .photo,
div[data-gadget-url$="gadget_document_scanner.html"] .video,
div[data-gadget-url$="gadget_document_scanner.html"] .camera-output,
div[data-gadget-url$="gadget_document_scanner.html"] .canvas {
  max-width: 100%;
  width: auto;
  max-height: 500px;
  filter: brightness(1);
  text-align: center;
}

div[data-gadget-url$="gadget_document_scanner.html"] .camera-input {
  min-height: 360px;
}

div[data-gadget-url$="gadget_document_scanner.html"] .page-number {
  display: inline;
}

div[data-gadget-url$="gadget_document_scanner.html"] .camera-header {
  font-size: 12pt;
  font-weight: 400;
}

div[data-gadget-url$="gadget_document_scanner.html"] .camera-input,
div[data-gadget-url$="gadget_document_scanner.html"] .camera-output,
div[data-gadget-url$="gadget_document_scanner.html"] .camera-header,
div[data-gadget-url$="gadget_document_scanner.html"] .edit-picture {
  text-align: center;
}

div[data-gadget-url$="gadget_document_scanner.html"] .camera,
div[data-gadget-url$="gadget_document_scanner.html"] .camera-input {
  display: inline-block;
}

div[data-gadget-url$="gadget_document_scanner.html"] .reset-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .confirm-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .edit-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .take-picture-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .capture-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .change-camera-btn,
div[data-gadget-url$="gadget_document_scanner.html"] .confirm-btn {
  color: #212529;
  padding: 3pt;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 0.325em;
  display: "inline-block";
  margin-right: 6pt;
}

div[data-gadget-url$="gadget_document_scanner.html"] .ui-btn-icon-left:before {
  margin-right: 6pt;
}

div[data-gadget-url$="gadget_document_scanner.html"] button:disabled,
div[data-gadget-url$="gadget_document_scanner.html"] button[disabled] {
  color: #999999;
}