div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .je-object__title {
  display: none !important;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: 0px;
  margin-left: 0px;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] p {
  margin-bottom: 1rem;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .form-label {
  margin-bottom: 0.5rem;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  background-color: #fff;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .je-switcher {
  background-color: transparent;
  height: auto;
  width: auto;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0px 0px 0px 3px;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .btn-group-vertical > .btn,
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .btn-group > .btn {
  /* position: relative; */
  flex: 1 1 auto;
}
div[data-gadget-url$="gadget_erp5_page_json_editor.html"] .btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}