/* No margins, take all screen */

body {
  background: #fff !important;
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
  font-weight:normal;
}

/* Hidden input */
fieldset#hidden_fieldset,
 div#upload_document,
 div#edit_document {
  display: none;
}

/* Header classes */

div.navigation {
  font-family: arial,sans-serif;
  padding: 5px;
  height: 15px;
  border-bottom: 1px solid #C9D7F1;
  font-size: 13px;
}

div.navigation fieldset.widget {
  border: 0px;
  padding-top: 0.6%;
  margin: -0.60%;
  width: 96%;
}

div.navigation-right {
  float: right;
  margin-top: -16px;
}

div.header-user {
  text-align: right;
  font-size: 13px;
  margin-right:1%;
  margin-top:-1.7%;
}

div.main-action-area {
  margin-top: 0.7%;
}

/* Main action classes */

div.main-action-area {
  padding: 8px;
  height: 30px;
}

div.logo-area {
  float: left;
  padding-right: 10px;
}

div.search-action-area {
  float: left;
}

div.share-action-area {
  text-align: right;
}

/* Main classes */

div.main-right {
  width:82%;
  float:right;
  border-left: 4px solid #BBCCFF;
}

div.main-right div.main-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  vertical-align: middle;
}

div.main-right div.main-status {
  padding: 5px;
  height: 22px;
  vertical-align: middle;
  font-size: 18px;
  font-style: bold;
}

div.main-right #page_wrapper {
  margin-top: 0px; !important
}

div.gadget-column {
  margin-left:-4px;
}

div.gadget-column div.file-selection {
  background-color:#fff;
  margin:15px -14px -4px -4px;
}

div.gadget-column div.file-selection div.file-quick-browser,
  div.gadget-column div.file-selection div.file-quick-search {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
}

div.quick-search-item, td.listbox-table-domain-tree-cell a {
  padding-left: 15px;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

div.quick-search-item:hover,
 table.listbox-table-domain-tree tbody tr:hover {
  background-color: #DAE6F6;
}

/* ERP5 Forms*/

div.field label,
 span.headline,
 a.listbox_title,
 div.actions, div.actions,
 legend.group_title, fieldset.left {
  display:none;
}

fieldset.bottom {
  position: relative;
  border:0px;
  padding:0px;
  list-style: none;
}

div.listbox-content table.listbox tbody tr td {
  vertical-align: middle;
  padding:2.2px;
}

div.listbox-content tr, div#change_state_dialog tr {
  font-size:13px;
  empty-cells:show;
  white-space:nowrap;
  padding-top: 1px;
  border-bottom: 1px solid #D1D1D1;
}

tr.DataA:hover, tr.DataB:hover {
  background-color: #DAE6F6 !important;
}

div.listbox-content a img, div.main-content a img {
  border:0px;
}

div.listbox-content td.listbox-table-data-cell a img {
  margin-right: -8px;
}
div.main-right div.main-status a {
  float:right;
  font-size:14px;
  padding-right:1%;
  padding-top:0.3%;
}

.sort-button {
  border:0px;
  background: url("ung_images/href_background.gif");
}

.listbox {
  border-collapse: collapse;
}

.listbox th {
  border-right: 1px solid #bbccff;
}

thead {
  font-family: serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: medium;
  line-height: 100%;
  word-spacing: normal;
  letter-spacing: normal;
  background: url("ung_images/href_background.gif");
}

.listbox-table-select-cell {
  width:0.5%;
}

.listbox-table-header-cell {
  text-align:left;
}

div.listbox-content a, a:visited, a:focus {
  background-color: inherit;
  color:#002E3F;
  text-decoration:none;
}

div.listbox-content a:hover {
  background-color:inherit;
  color:#3D6474;
  text-decoration:underline;
}

img.sort-button-desc {
  background: url("ung_images/icon_desc.gif") no-repeat;
  width:10px;
  margin:1px -10px;
}

img.sort-button-asc {
  background: url("ung_images/icon_asc.gif") no-repeat;
  width:10px;
  margin:1px -10px;
}

.jSheetControls_formula {
  width: 90% !important;
}

iframe#svgframe, fieldset.widget {
  border: 0px;
}

iframe#svgframe {
  width: 100%;
}

div#wrapper_toolbar {
  background: #E3E9FF no-repeat;
  height:35px;
}

button.clone {
  background-image: url('<dtml-var expr="portal_url()">/images/fileclone.png');
  border: 0 none;
  height:22px;
  width:23px;
}

div#wrapper_toolbar fieldset.widget div.field div.input {
  margin-top:-2px;
}

div#wrapper_header div.navigation-right {
  float: right;
  margin-top: -5.2em;
}

div#wrapper_header div.field fieldset {
  border:0px;
}

div#wrapper_header div.field a[name="document_title"],
 div#wrapper_header div.field a[name="document_state"] {
  margin-left:22px;
  font-size:15px;
}

div#wrapper_header div.field a[name="document_state"] {
  color:#525f94;
  font-size:13px !important;
}

div.header-bottom {
  margin-left:-7px;
  margin-top:6px;
  width:100%;
}

div.header-right {
  float: right;
  margin-top: -38px;
  height: 18px;
  width: 41.3%;;
}

div.main-left, div.main-right {
  margin-top: -0.6em;
}

div.main {
 margin-top: 0.5em;
 height: auto;
}
button.delete {
  margin-top: 6px;
  margin-left: 6px;
}

div.favorite-box {
  margin-top:-6px;
  margin-left:-16px;
}

table.listbox {
  margin-left: -12px;
  background: #eff3fa;
}

// XXX: this disable image on main listbox (now by gadget)
//div.main-right fieldset.widget div.field:last-child img {
//  display:none;
//}

div.header-right div.input a {
  color:#A7A2A2;
  font-size:13px;
}

a.ung_docs img {
  border:0 none;
  left:-7px;
  position:relative;
  top:9px;
}

div.main-left {
  margin-left:-4px;
  width: 18%;
  float:left;
  background-color: #DAE6F6;
  height:4em;
  border: 0;
}

div.favorite {
  background-color: #BBCCFF;
  height:27px;
  margin-top:-5px;
  padding-top:8px;
}

div.favorite a {
  font-size: 14px;
  float: right;
  margin-right: 5px;
}
div.toolbar, div.favorite {
  margin-left:-12px;
  border-collapse: collapse;
}

div.toolbar {
  background-color: #E3E9FF;
  height:27px;
  padding-bottom:5px;
}

div.content {
  background:none repeat scroll 0 0 #DAE6F6;
  border-bottom:4px solid #BBCCFF;
  border-top:4px solid #BBCCFF;
}

/* XXX: This was creating a fixed background colored block of 27em
div.main-right div.content {
  height:27em;
}
*/

div.listbox-body div.main-right tbody {
  height:25.35em;
  overflow-x:hidden;
  overflow-y:auto;
}

div.header-left {
  margin-left:1px;
  margin-top:-4px;
}

.sort-button span {
 color:#112abb;
}

div.navigation-left a {
 margin-left:7px;
}

div.navigation-right a {
 margin-left:2px;
}

div.main-right fieldset.widget{
  padding:0;
  margin-left:12px;
  margin-top:5px;
}

div.bottom_actions button {
  display:none;
}

div.toolbar button, div.gadget-action input#upload {
  color: #333333;
  border: 1px solid #BBBBBB;
  background-image: url('<dtml-var expr="portal_url()">/ung_images/button_background.png');
  -moz-border-radius: 4px;
}

.menu_create_object {
  color:#8e8e8e;
  margin-top:-5px;
}

div#select_language {
  color: #20C;
}
.menu_create_object, div#select_language {
  font-family: arial,sans-serif;
  font-size:14px;
  list-style:none outside none;
  white-space:nowrap;
}
.menu_create_object img {
  border:0px;
}

.menu_create_object li a#current {
  background-image: url('<dtml-var expr="portal_url()">/ung_images/button_background.png');
  width: 78px;
  height: 19px;
  color: #333333;
  border:1px solid #BBBBBB;
  padding-left:2px;
  padding-right:14px;
  text-align:justify;
  -moz-border-radius: 4px;
}

.menu_create_object ul, div#select_language ul {
  list-style:none;
  margin:0;
  padding:0;
}

span#available_language {
  text-decoration: underline;
}
div#select_language li span {
  text-color: #20C;
  cursor: pointer;
}
.menu_create_object li {
  float:left;
  margin-left: 0.5em;
  position:relative;
  top: 0.5em;
  text-decoration:none;
}

.menu_create_object li a, div#select_language ul li span {
  display:block;
  text-decoration:none;
}

.menu_create_object li a:hover, div#select_language li a:hover {
  color:#000000;
  text-decoration:none;
}

.menu_create_object li:hover ul, div#select_language li:hover ul {
  display:block;
}

div#select_language li {
  width: 40px;
  cursor: pointer;
}

div#select_language li ul {
  width:70px;
}

div#select_language li li {
  background:none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #C9D7F1;
  border-right: 1px solid #C9D7F1;
  border-top: 2px solid transparent;
  width: 100%;
}

.menu_create_object li li {
  display:block; !important;
  margin-left:0; !important;
  float: none; !important;
  top: 0px;
  margin-top: 5px;
}

.menu_create_object p {
  clear:left;
}

.menu_create_object li ul, div#select_language li ul {
  border:1px solid #D1D1D1;
  background-color: #FFF;
}

.menu_create_object li ul, div#select_language li ul {
  display:none;
  height:auto;
  filter:alpha(opacity=95);
  position:absolute;
  z-index:200;
}

.menu_create_object li ul a, div#select_language li ul a {
  display:block;
  font-size:14px;
  font-style:normal;
  margin-left:4px;
  margin-top:-5px;
  padding:0 21px 0 1px;
  text-align:left;
  color:#002E3F;
  text-decoration:none;
  line-height:28px;
}

div.gadget-column input#upload {
  left:1em;
  position:relative;
  top:0.5em;
}

.menu_create_object li li:hover, div#select_language li li:hover {
  background-color: #DAE6F6;
}

.menu_create_object li a#current img {
  margin-left:3px;
  position:relative;
  top:2px;
}

.action_menu {
  float:right;
  margin-right:5em;
  width:25%;
}

.action_menu li {
  list-style:none outside none;
}

.action_menu li ul {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D1D1D1;
  display: none;
  height: 76px;
  position: relative;
  margin-top:3px;
  width: 143px;
  z-index: 200;
}

.action_menu li a:hover {
  color:#000000;
  text-decoration:none;
}

.action_menu li ul li {
  margin: -26px 0px -24px -40px;
  height: 23px;
  text-align:center;
}

.action_menu li:hover ul {
  display:block;
}

.action_menu a#change_state {
  color: #333333;
  background-image: url('<dtml-var expr="portal_url()">/ung_images/button_background.png');
  border: 1px solid #D1D1D1;
  padding:2px;
}

.action_menu li ul li h6 {
  color: #333333;
  font-size: 12px;
  padding-top:4px;
  font-weight:lighter;
}

.action_menu li ul li:hover {
  background: #f3f3f3;
}

button.save {
  background-image:url('<dtml-var expr="portal_url()">/ung_images/button_background.png');
  border:1px solid #D1D1D1;
  height:21px;
  color:#333333;
}

button.edit {
  border:1px solid #D1D1D1;
  float:right;
  margin-top:-1.6em;
  background-image:url('<dtml-var expr="portal_url()">/ung_images/button_background.png');
  color:#333333;
}

div#wrapper_header div.field a[name="document_title"]:hover {
  background:none repeat scroll 0 0 #FFFFD6;
  border:1px solid #AAAAAA;
}

div#wrapper_header div.field a[name="document_title"] {
  color:#060605;
  padding:3px;
  text-decoration:none;
}

div#edit_document fieldset label {
  font-size: 12px;
}

div.ui-dialog-titlebar {
  height:15px;
}

div#edit_document fieldset {
  border:0 none;
  height:72px;
  margin-left:-1em;
  margin-top:-0.5em;
  width:379px;
}

div#edit_document {
  height:80px;
  width:368px;
  overflow:hidden;
}

div#edit_document fieldset input {
  margin-top:6px;
  font-size:13px;
  width: 95%;
}

div.ui-dialog {
 background: #C1D9FF;
}

div#edit_document fieldset label {
  font-size: 12px;
}

span#ui-dialog-title-edit_document,
 span#ui-dialog-title-upload_document,
 span#ui-dialog-title-gadget-listbox{
  font-size:17px;
  margin-left:-8px;
  margin-top:-3px;
  font:bold 12pt Arial,Sans-serif;
  color: #222222 !important;
}

div.ui-dialog-titlebar {
  height:15px;
  border: 0px;
  background: #E0EDFE;
  -moz-border-radius:1px 1px 1px 1px;
}

button#save_document, button#cancel_document {
  font-size:11px;
  margin-top:0.7em;
}

.ui-dialog .ui-dialog-buttonpane {
  background:none repeat scroll 0 0 #C1D9FF;
  border-top:0 none;
//  width: 5.6em;
  padding:0 !important;
}

.ui-button-text-only .ui-button-text {
  padding:0.2em 0.3em !important;
}

.ui-button .ui-button-text {
  line-height:1em !important;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin:0 0.4em 0.5em 0 !important;
}

span.ui-button-text {
 font-size: 12px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
 float:none !important;
// width:104px;
 height:21px;
 margin-top:-10px;
}

div.listbox-navigation {
  float:right;
  font-size:13px;
  margin-top:6px;
  min-width:10%;
  margin-right:5px;
}

div.listbox-navigation input {
  height: 18px;
  width: 20px;
}

div.listbox-header-box {
  height:0px;
}

div.listbox-number-of-records{
  float: right;
  font-size: 12px;
  margin-right: 12em;
  margin-top: -25px;
  min-width: 30%;
}

div.listbox-navigation button.listbox_last_page,
  div.listbox-navigation button.listbox_next_page,
  div.listbox-navigation button.listbox_previous_page,
  div.listbox-navigation button.listbox_first_page {
  height:20px;
  border: 0px;
}

div.listbox-navigation button.listbox_previous_page,
  div.listbox-navigation button.listbox_next_page {
  margin: 0px;
  width:12px;
}

div.listbox-navigation button.listbox_last_page,
  div.listbox-navigation button.listbox_first_page {
  margin: 0px;
  width:18px;
}

div.listbox-navigation button.listbox_next_page {
  background-image: url('<dtml-var expr="portal_url()">/ung_images/next_page.png');
}

div.listbox-navigation button.listbox_last_page {
  background-image: url('<dtml-var expr="portal_url()">/ung_images/last_page.png');
}

div.listbox-navigation button.listbox_first_page {
  background-image: url('<dtml-var expr="portal_url()">/ung_images/first_page.png');
}

div.listbox-navigation button.listbox_previous_page {
  background-image: url('<dtml-var expr="portal_url()">/ung_images/previous_page.png');
}

div.listbox-navigation button.listbox_previous_page,
 div.listbox-navigation button.listbox_first_page,
 div.listbox-navigation button.listbox_last_page,
 div.listbox-navigation button.listbox_next_page {
 background-repeat:no-repeat;
}

p#more_properties, p#hide_properties {
  font-size: 12px;
}

p#more_properties:hover, p#hide_properties:hover {
  color:#525f94;
}
a#left_message, a#right_message {
  display: none;
  color: #FD0A0A;
  float: left;
  margin-right: 10px;
}

div.listbox-domain-tree-container select {
  display:none;
}

div.listbox-tree {
  font-size: 13px;
  height: 233px;
}

div.listbox-tree-mode-selection {
  display:none;
}

table.listbox-table-domain-tree {
  width: 100%;
}

a.domain_selected {
  float:left !important;
  font-size: 15px !important;
}

div#upload_document {
  height: 58px !important;
  width: 390px !important;
  font-size: 12px;
}
fieldset#file_box {
  border: 0px !important;
  margin-left: -17px;
  margin-top: -4px;
}
input#submit_document {
  background: url("jquery/ui/css/erp5-theme/images/ui-bg_glass_75_dae6f6_1x400.png") repeat-x scroll 50% 50% #DAE6F6;
  border: 1px solid #3D6474;
  color: #555555;
  font-weight: normal;
  -moz-border-radius: 4px 4px 4px 4px;
  margin-top: 3px;
}

a#loading_message {
  display: none;
}

iframe#field_my_text_content___Frame {
  height: 489px !important;
}

div#login-box {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 23px 23px 0 0;
  float:right;
  width: 23%;
}

div#login-box input {
  vertical-align: middle;
}

div#login-box input.submit {
  margin-top: 6px;
}

div#preference_dialog {
  display:none;
  font-size: 14px;
  white-space: nowrap;
}

fieldset.center.editable, fieldset.right.editable {
  border: 0;
  padding: 0.15em 0.35em 0.400em;
  font-size: 14px;
  margin-left: -11px;
}

fieldset.center.editable div.field label,
 fieldset.right.editable div.field label {
  display: block;
}

span#ui-dialog-title-preference_dialog {
  margin: 0;
  margin-top: -2px;
  margin-left: -10px;
  font-size: 15px;
  color: #222222 !important;
}

div#preference_dialog div.field {
  padding-bottom: 1px;
  padding-top: 1px;
}

div.header-right fieldset.widget {
  height: 29px;
}

div.header-right fieldset.widget span#sharing_url {
  padding-top: 2px;
  font-size: 11px;
}

div.gadget-listbox {
  display: none;
}

table#gadget-table tbody tr img {
  float: right;
}

table#gadget-table tbody tr {
  font-size: 15px;
}

table#gadget-table {
  width: 100%;
}

div.gadget-action div.front_pad {
  font-size: 10px;
}
h3.handle {
  color: #222222 !important;
  background: white !important;
  font-size: 13px !important;
  border-bottom: 0px !important;
}

div.block div.content {
  border-top: 0px !important;
  border-bottom: 1px solid #DDDDDD !important;
}

div.portal-column {
  width: 100% !important;
  min-height: 0 !important;
}

div#page_wrapper div.minimize_wrapper div.edit-form fieldset.left,
  div#page_wrapper div.minimize_wrapper div.edit-form fieldset.left label {
  display: inline !important;
}

div.edit-form button {
  margin-top: -0.3em !important;
}

div.edit-form {
  padding-left: 0 !important;
}

h3.handle span.handle {
  background: white !important;
}

a.block-minimize {
  background-image: url("../ung_images/icon_minimize.png") !important;
}

a.block-remove {
  background-image: url("../ung_images/icon_remove.png") !important;
}

a.block-edit-form {
  background-image: url("../ung_images/icon_edit.png") !important;
}

table#navigation_table td#tab-switcher-container,
 table#navigation_table td#tab-list-container {
  display: none !important;
}

div#add_new_gadget_link {
  border-bottom: 0px;
  padding-top: 5px;
  width: 50% !important;
}

div#page_wrapper {
  min-height: 0 !important;
}

div.front_pad div#page_wrapper {
  margin: -0.5em 0 0 !important;
}

#add-gadgets{
 font-size: 11px;
}

form#ung_preference,
 form#system_preference,
 form#erp5_preference,
 form#change_state_form {
  margin:0px;
  padding: 0px;
}

div.edit-form {
  background-color: #FFF !important;
  border: 0 none !important;
}

table.gadget tbody tr:first-child {
  display: none !important;
}

div.edit-form {
  height: 176px !important;
}

div#edit_document.ui-dialog-content {
  background-color: #FFFFFF;
}

.ui-widget textarea {
  font-size: 13px !important;
}

div#tabs, div#pad-navigation-wrapper div#tabs_switcher.tab {
  display: none !important;
}

div#pad-navigation-wrapper {
  border: 0px !important;
}

img[alt="calendar_logo_box"] {
  margin-top: 10px;
}

div#preference_dialog select {
  border: 0px;
}

a.your_listbox_title {
  display: none;
}

table#field_table,
 table#new-account-table,
 table#create-new-user {
  border: 1px solid #C3D9FF;
  width: 78%;
}

table#field_table tbody,
 table#new-account-table tbody,
 table#create-new-user tbody {
  background: #E8EEFA;
}

table#field_table tbody label {
  font-size: 10pt;
  float: right;
}

table#new-account-table table td,
 table#create-new-user td {
  font-size: 10pt;
}

td#new-account-form {
  text-decoration: underline;
  color: #00C;
  font-weight: bold;
  cursor: pointer;
}

table#create-new-user {
  display:none;
  margin-top: -22px;
}

td#form-message {
  color: #EC1D1D;
  display: none;
}

div#advertisement h2 {
  font-size: 15pt;
}

div#advertisement b {
  font-size: 12px !important;
}

div.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 10pt;
}

div.header-left h2 {
  font-size: 14pt;
}

form#create-user table tbody tr:last-child td {
  color: #20C;
  text-decoration: underline;
  font-size: 8pt;
  cursor: pointer;
}

select[name="field_your_language"] {
  background-color: transparent;
  border: 0 none;
}

div.navigation-right fieldset.widget div {
  float: left;
}

span.date-format {
  font-style: italic;
}

span#no-input-file {
  display: none;
  color: #f61717;
}

.tree-open, .tree-closed {
  border: none;
  background: #FFF;
  cursor: pointer;
}

div#change_state_dialog {
  display:none;
  width: inherit !important;
  font-size: 14px;
  padding-left: .3em;
  overflow: auto;
}

div#change_state_dialog table {
  margin-left: 0;
}

div#change_state_dialog div.field {
  padding-bottom: 1px;
  padding-top: 1px;
}

/* Transition Message */
div.portal_status_message {
  float: left;
  padding-left: 100px;
}

// fix '_' after ung-logo image
a.ung_docs {
  text-decoration: none !important;
}
a.ung_docs:link {
  text-decoration: none !important;
}
