div.main-right {
  border-left: 0px !important;
  width: 85.6% !important;
}

div.main-left {
  width: 13.3% !important;
  margin-top: -3.7px !important;
  background-color: #FFFFFF !important;
}

div.main-right fieldset.widget {
  margin-left: 0px;
}

div.cHead {
  border-left: 0px !important;
  border-right: 0px !important;
}

div.ctoolbar {
  background: #BBCCFF !important;
}

div.btnseparator {
  display:none;
}

div.cHead div.ptogtitle {
  padding: 2px;
  position: fixed !important;
  right: 20px !important;
  top: 58px !important;
}

a#BBIT_DP_CONTAINER {
  left: 0px !important;
}

div.main-left div#datepicker.hasDatepicker {
  margin: 4px -3px -3px;
}

.ui-datepicker {
  padding: 0;
  width: 13.5em;
  height: 12em;
}

div#datepicker .ui-widget-content {
  background: none !important;
  border: 0;
}

.ui-datepicker th {
  padding: 0px !important;
  font-size: 12px;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0px !important;
}

.ui-datepicker table {
  width: 101% !important;
}

.ui-datepicker .ui-datepicker-header {
  width: 100% !imporant;
}

.ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
  top: 0px;
}

div.main-left .ui-widget-content .ui-state-default,
 div.main-left .ui-widget-header .ui-state-default {
  background: none !important;
  border: 1px solid #FFF;
}

div.ui-datepicker-inline div.ui-datepicker-header {
  border: 1px solid #FFF !important;
}

.ui-datepicker td:hover {
  background: #DAE6F6 !important;
}

div#ui-datepicker-div.ui-datepicker {
  background: none !important;
  border: 0px;
}

.ui-state-default .ui-state-highlight .ui-state-active .ui-state-hover {
  background: #DAE6F6 !important;
}

td.ui-datepicker-days-cell-over, td.ui-datepicker-week-end.ui-datepicker-current-day {
  background: url("images/ui-bg_glass_75_dae6f6_1x400.png") repeat-x scroll 50% 50% #DAE6F6;
}

table.ui-datepicker-calendar thead, div.ui-datepicker-inline div.ui-datepicker-header {
  background: none repeat scroll 0 0 transparent;
}

div#faddbtn.fbutton {
    background: none repeat scroll 0 0 #E3E9FF !important;
    height: 27px;
    margin: -3px;
    width: 105%;
}

div#faddbtn.fbutton div {
    padding: 6px;
}

div#faddbtn.fbutton span.addcal:hover {
  cursor: pointer;
}

div#faddbtn.fbutton span.addcal {
  background: url('<dtml-var expr="portal_url()">/ung_images/button_background.png') repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
  padding: 2px 4px;
  background-color: #EDF1D5;
}

input#bbit-cal-quickAddBTN {
  background: url('<dtml-var expr="portal_url()">/ung_images/button_background.png') repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
}

div.header-left fieldset.widget div.field input[type="submit"] {
  background: url('<dtml-var expr="portal_url()">/ung_images/button_background.png') repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
  padding-top: 1px;
  position: relative;
  top: 1px;
  -moz-border-radius: 4px 4px 4px 4px;
}

div.header-left fieldset.widget div.field {
  display: inline-block;
}

img[alt="calendar_logo_box"] {
  position: relative;
  top: 7px;
  cursor: pointer;
}

div.header-left {
  margin-top: -9px;
}

div#gridcontainer div.event-listview tr td {
  border-bottom: 1px solid #CCC;
  padding: 11px;
}

div#gridcontainer div.toolbar-listview {
  background: none repeat scroll 0 0 #E3E9FF !important;
  padding: 6px;
}

a#back-calendar {
  color: #20C;
  font-weight: bolder;
}

td#resultview {
  text-align: right;
  font-size: 10pt;
}

tr#today-event td:first-child{
  background: none repeat scroll 0 0 #FFF7D7;
  border-color: #FAD163 #FAD163 #CCCCCC;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

div.event-listview table tbody tr td:first-child {
  width: 9%;
}

td#event-date {
  color: #2200CC;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
}

td#time-range {
  width: 9%;
  text-align: center;
}
div#showreflashbtn.fbutton,
 div#showdaybtn.fbutton,
 div#showmonthbtn.fbutton,
 div#showweekbtn.fbutton {
  float: right !important;
}

span#text-datetime {
  margin-top: 4px;
}

div#display-datetime.fbutton:hover, span#text-datetime:hover {
  background: none !important;
  border: 1px solid #BBCCFF !important;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 0.3em;
  text-align: left;
}

.ui-datepicker .ui-datepicker-next {
  right: -2px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 10.2em;
}

.ui-datepicker .ui-datepicker-title {
  color: #20C;
  text-decoration: underline;
}

.ui-widget-header .ui-icon {
  background-image: url("ung_images/ui-icons_88aaee_256x240.png") !important;
}

.ui-datepicker .ui-datepicker-prev span,
 .ui-datepicker .ui-datepicker-next span {
  -moz-border-radius: 9px 9px 9px 9px;
}

input#bbit-cal-quickAddBTN {
  background: url('<dtml-var expr="portal_url()">/ung_images/button_background.png') repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
}

td.cb-value select {
  border: 1px solid #BBBBBB;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
  background: transparent;
  border: 1px solid #FFF;
}

a.calendar {
  color: #000;
  text-decoration: none;
}