div.main-left {
  background-color: #FFF !important;
}

div.main-left {
  width: 12% !important;
}
div.main-right {
  width: 88% !important;
}

div.favorite {
  background-color: #c8d6ff;
  border-top: 4px solid #BBCCFF;
  padding-top: 1px;
}

button#compose-mail {
  background-image: url("ung_images/button_background.png");
  border: 1px solid #BBBBBB;
  -moz-border-radius: 4px;
  margin-top: 5px;
}

span.your_listbox-current-item-number {
  display: none;
}

div.toolbar button.archive {
  margin-left: 18px;
}

tr.listbox-label-line {
  display: none;
}

div.toolbar {
  border-bottom: 1px solid #DEDEDE;
}

span.listbox-current-page-start-number,
 span.listbox-current-page-stop-number,
 span.listbox-current-page-total-number {
  font-weight: bold;
}

div.listbox-content table.listbox tbody tr td:last-child {
  text-align: right;
}

div.mail-navigation {
  font-size: 13px;
  cursor: pointer;
  margin-left: 15px;
}

div.separator {
  border-bottom: 1px solid #E3E9FF
}

a#advertisement-name {
  color: #0000CC;
  margin-left: 8px;
  text-decoration: underline;
}

div.favorite span {
  font-size: 80%;
}

a#advertisement-url { 
  color: #006633 !important;
  text-decoration: none;
}

div.favorite a {
  float: left;
  margin-top: 2px;
}

div.header-left fieldset.widget div.field {
    display: inline-block;
}

img[alt="mail_logo_box"] {
  position: relative;
  top: 9px;
  cursor: pointer;
}

div.main-left, div.main-right, div.main {
  margin-top: 0em;
}

div.main-right button#save-mail,
 div.main-right button#discard-mail,
 div.main-right button#send-mail { 
  background-image: url("ung_images/button_background.png");
  border: 1px solid #BBBBBB;
  -moz-border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
}

div.main-right table tbody tr td:first-child {
  text-align: right;
}

div.main-right table tbody tr td label {
  font-size: 80%;
  font-weight: bold;
}

div.main-right table tbody tr td label[for="to"],
 div.main-right table tbody tr td label[for="cc"],
 div.main-right table tbody tr td label[for="bcc"] {
  color: #0000CC;
  text-decoration: underline;
  white-space: nowrap;
}

div.main-right tr#cc, div.main-right tr#bcc{
  display:none;
}

div.main-right span#add-cc-field,
 div.main-right span#add-bcc-field {
  font-size: 80%;
  color: #20C;
  text-decoration: underline;
  cursor: pointer;
}

a.email {
  color: #000;
  text-decoration: none;
}

div.header-left {
  margin-top: -9px !important;
}

div.listbox-tree {
  display: none !important;
}