<?xml version="1.0"?>
<ZopeData>
  <record id="1" aka="AAAAAAAAAAE=">
    <pickle>
      <global name="DTMLDocument" module="OFS.DTMLDocument"/>
    </pickle>
    <pickle>
      <dictionary>
        <item>
            <key> <string>_Cacheable__manager_id</string> </key>
            <value> <string>http_cache</string> </value>
        </item>
        <item>
            <key> <string>__name__</string> </key>
            <value> <string>boom.css</string> </value>
        </item>
        <item>
            <key> <string>_vars</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>globals</string> </key>
            <value>
              <dictionary/>
            </value>
        </item>
        <item>
            <key> <string>raw</string> </key>
            <value> <string encoding="cdata"><![CDATA[

/* Sample style sheet for boom!, the book microformat              */\n
/* written  by Hakon Wium Lie and Bert Bos, November 2005          */\n
/* You may reuse this style sheet for any purpose without any fees */\n
\n
\n
html { \n
  margin: 0;\n
  font: 10pt/1.26 "Gill Sans", sans-serif;\n
}\n
\n
body { \n
  margin: 0 0 0 28%;\n
  counter-reset: figure 0 table 0 page 0;\n
}\n
\n
h1, h2, h3, h4, h5, h6 { \n
  font-family: "Gill Sans", sans-serif;\n
  margin: 2em 0 0.5em 0;\n
  page-break-after: avoid;\n
} \n
\n
h1 { \n
  padding: 2em 0 2em 0;\n
  margin: 0;\n
  font-size: 2.4em;\n
  font-weight: 900;\n
}\n
\n
h2 { \n
  font-size: 1.2em;\n
  text-transform: uppercase;\n
  font-weight: bold;\n
}\n
\n
h3 { \n
  font-size: 1em;\n
  font-weight: bold;\n
}\n
\n
q::before {\n
  content: "\\201C";\n
}\n
\n
q::after {\n
  content: "\\201D";\n
}\n
\n
p { margin: 0 }\n
p + p { text-indent: 1.3em }\n
p.sidenote + p, p.caption, p.art { text-indent: 0 }\n
\n
p.author {\n
  margin-top: 2em;\n
  text-indent: 0;\n
  text-align: right;\n
}\n
\n
p.avoid-page-break-after{ page-break-after: avoid }\n
\n
pre {  margin: 1em 1.3em; }\n
\n
a { text-decoration: none; color: black }\n
\n
/* cross-references */\n
\n
a.pageref::after { content: " on page " target-counter(attr(href), page); }\n
a.chapref::before { content: " Chapter " target-counter(attr(href), chapter) ", "; }\n
a.figref { content: " Figure " target-counter(attr(href), figure); }\n
a.tableref { content: " Table " target-counter(attr(href), table); }\n
\n
/* sidenotes */\n
\n
.sidenote {\n
  float: left;\n
  clear: left;\n
  margin: 0 0 1em -41%;\n
  width: 37%;\n
  font-size: 0.9em;\n
  font-style: normal;\n
  text-indent: 0;\n
  text-align: right;\n
  page-break-inside: avoid;\n
}\n
\n
/* sidebars */\n
\n
div.sidebar {\n
  float: top-next;\n
  margin: 1.2em 0 1.2em 0;\n
  border: thin solid;\n
  background: #CCC;\n
  padding: 0.5em 1em;\n
  page-break-inside: avoid;\n
  column-count: 2;\n
  column-gap: 1.5em;\n
}\n
\n
div.sidebar h2 {\n
  margin-top: 0;\n
}\n
\n
/* figures and tables*/\n
\n
div.figure {\n
  margin: 1em 0;\n
  counter-increment: figure;\n
  page-break-inside: avoid;\n
}\n
\n
div.figure .caption, div.table .caption {\n
  float: left;\n
  clear: left;\n
  width: 37%;\n
  text-align: right;\n
  font-size: 0.9em;\n
  margin: 0 0 1.2em -40%;\n
}\n
\n
div.figure .caption::before {\n
  content: "Figure " counter(figure) ": ";\n
  font-weight: bold;\n
}\n
\n
div.table .caption::before {\n
  content: "Table " counter(table) ": ";\n
  font-weight: bold;\n
}\n
\n
div.table {\n
  margin: 1em 0;\n
  counter-increment: table;\n
}\n
\n
div.table th {\n
  text-align: left;\n
}\n
\n
table th, table td {\n
  text-align: left;\n
  padding-right: 1em;\n
}\n
\n
table.lined td, table.lined th {\n
  border-top: none;\n
  border-bottom: thin dotted;\n
  padding-top: 0.2em;\n
  padding-bottom: 0.2em;\n
}\n
\n
\n
@page {\n
  margin: 27mm 16mm 27mm 16mm;\n
  size: 7in 9.25in;\n
\n
  @footnotes {\n
    border-top: thin solid black;\n
    padding-top: 0.3em;\n
    margin-top: 0.6em;\n
    margin-left: 30%;\n
  }\n
}\n
\n
\n
/* define default page and names pages: cover, blank, frontmatter */\n
\n
@page :left {\n
  @top-left {\n
    font: 11pt "Gill Sans", serif;\n
    content: "ERP5";\n
    vertical-align: bottom;\n
    padding-bottom: 2em;\n
  }\n
\n
  @bottom-left {\n
    font: 11pt "Gill Sans", serif;\n
    content: counter(page);\n
    padding-top: 2em;\n
    vertical-align: top;\n
  }\n
}\n
\n
@page :right {\n
  @top-right {\n
    font: 11pt "Gill Sans", serif;\n
    content: string(header, first); \n
    vertical-align: bottom;\n
    padding-bottom: 2em; \n
  }\n
\n
  @bottom-right {\n
    font: 11pt "Gill Sans", serif;\n
    content: counter(page);\n
    text-align: right;\n
    vertical-align: top;\n
    padding-top: 2em;\n
  }\n
}\n
\n
@page frontmatter :left {\n
  @top-left {\n
    font: 11pt "Gill Sans", serif;\n
    content: string(title);\n
    vertical-align: bottom;\n
    padding-bottom: 2em;\n
  }\n
\n
  @bottom-left {\n
    font: 11pt "Gill Sans", serif;\n
    content: counter(page, lower-roman);\n
    padding-top: 2em;\n
    vertical-align: top;\n
  }\n
}\n
\n
@page cover { margin: 0; }\n
\n
@page frontmatter :right {\n
  @top-right {\n
    font: 11pt "Gill Sans", serif;\n
    content: string(header, first); \n
    vertical-align: bottom;\n
    padding-bottom: 2em; \n
  }\n
\n
  @bottom-right {\n
    font: 11pt "Gill Sans", serif;\n
    content: counter(page, lower-roman);\n
    text-align: right;\n
    vertical-align: top;\n
    padding-top: 2em;\n
  }\n
}\n
\n
@page blank :left {\n
  @top-left { content: normal }\n
  @bottom-left { content: normal }\n
}\n
\n
@page blank :right {\n
  @top-right { content: normal }\n
  @bottom-right { content: normal }\n
}\n
\n
/* footnotes */\n
\n
.footnote {\n
  display: none;                   /* default rule */\n
\n
  display: prince-footnote;        /* prince-specific rules */\n
  position: footnote;\n
  footnote-style-position: inside;\n
\n
  counter-increment: footnote;\n
  margin-left: 1.4em;\n
  font-size: 90%;\n
  line-height: 1.4;\n
}\n
\n
.footnote::footnote-call {\n
  vertical-align: super;\n
  font-size: 80%;\n
}\n
\n
.footnote::footnote-marker {\n
  vertical-align: super;\n
  color: green;\n
  padding-right: 0.4em;\n
}\n
\n
\n
/*\n
   A book consists of different types of sections. We propose to use\n
   DIV elements with these class names:\n
\n
    frontcover\n
    halftitlepage: contains the title of the book\n
    titlepage: contains the title of the book, name of author(s) and publisher\n
    imprint: left page with copyright, publisher, library printing information\n
    dedication: right page with short dedication\n
    foreword: written by someone other than the author(s)\n
    toc: table of contents\n
    preface: preface, including acknowledgements\n
    chapter: each chapter is given its own DIV element\n
    references: contains list of references\n
    appendix: each appendix is given its own \n
    bibliography\n
    glossary\n
    index\n
    colophon: describes how the book was produced\n
    backcover\n
\n
   A book will use several of the types listed above, but few books\n
   will use all of them.\n
*/\n
\n
/* which section uses which named page */\n
\n
div.halftitlepage, div.titlepage, div.imprint, div.dedication { page: blank }\n
div.foreword, div.toc, div.preface { page: frontmatter }\n
\n
\n
/* page breaks */\n
\n
div.frontcover, div.halftitlepage, div.titlepage { page-break-before: right }\n
div.imprint { page-break-before: always }\n
div.dedication, div.foreword, div.toc, div.preface, div.chapter, div.part, div.reference, \n
div.appendix, div.bibliography, div.glossary, div.index, div.colophon { \n
  page-break-before: always \n
}\n
div.backcover { page-break-before: left }\n
\n
/* the front cover; this code is probably not very reusable by other books */\n
\n
div.frontcover { page: cover; }\n
\n
div.frontcover img {\n
  position: absolute;\n
  width: 7in; height: 9.25in;\n
  left: 0; top: 0;\n
  z-index: -1;\n
}\n
\n
div.frontcover h1 {\n
  position: absolute;\n
  left: 2cm; top: 1cm;\n
  color: white;\n
  font-size: 44pt;\n
  font-weight: normal;\n
}\n
\n
div.frontcover h2 {\n
  position: absolute;\n
  right: 0; top: 5cm;\n
  color: black;\n
  background: white;\n
  font-size: 16pt;\n
  font-weight: normal;\n
  padding: 0.2em 5em 0.2em 1em;\n
  letter-spacing: 0.15em;\n
}\n
\n
div.frontcover h3 {\n
  position: absolute;\n
  left: 2cm; top: 7cm;\n
  color: white;\n
  font-size: 24pt;\n
  font-weight: normal;\n
}\n
\n
div.frontcover p {\n
  position: absolute;\n
  left: 2cm; bottom: 1.5cm;\n
  font-size: 24pt;\n
  color: black;\n
  font-weight: bold;\n
  text-transform: uppercase;\n
}\n
\n
\n
/* titlepage, halftitlepage */\n
\n
div.titlepage h1, div.halftitlepage h1 { margin-bottom: 2em; }\n
div.titlepage h2, div.halftitlepage h2 { font-size: 1.2em; margin-bottom: 3em; }\n
div.titlepage h3, div.halftitlepage h3 { font-size: 1em; margin-bottom: 3em; }\n
div.titlepage p, div.halftitlepage p { \n
  font-size: 1.4em;\n
  font-weight: bold;\n
  margin: 0; padding: 0;\n
}\n
\n
\n
/* TOC */\n
\n
ul.toc, ul.toc ul { \n
  list-style-type: none;\n
  margin: 0; padding: 0;\n
}\n
ul.toc ul {\n
  margin-left: 1em;\n
  font-weight: normal;\n
}\n
ul.toc > li { \n
  font-weight: bold;\n
  margin-bottom: 0.5em;\n
}\n
ul.toc a::after {\n
  content: leader(\'.\') target-counter(attr(href), page);\n
  font-style: normal;\n
}\n
ul.toc > li.frontmatter a::after {\n
  content: leader(\'.\') target-counter(attr(href), page, lower-roman);\n
  font-style: normal;\n
}\n
ul.toc > li.endmatter a::after {\n
  content: leader(\'.\') target-counter(attr(href), page);\n
  font-style: normal;\n
}\n
ul.toc > li.chapter::before {\n
  content: "Chapter " counter(toc-chapter, decimal);\n
  display: block;\n
  margin: 1em 0 0.1em -2.5cm;\n
  font-weight: normal;\n
  counter-increment: toc-chapter;\n
  page-break-after: avoid;\n
}\n
\n
/* chapter numbers */\n
\n
div.chapter { counter-increment: chapter; }\n
\n
h1::before {\n
  white-space: pre;\n
  margin-left: -2.5cm;\n
  font-size: 50%;\n
  content: "\\B0  \\B0  \\B0  \\B0  \\B0 \\A";  /* ornaments */\n
}\n
\n
div.chapter h1::before { content: "Chapter " counter(chapter) " \\A"; }\n
\n
div.frontcover h1::before, div.titlepage h1::before, div.halftitlepage h1::before {\n
  content: normal;                  /* that is, none */\n
}\n
\n
h1 { string-set: header content();}\n
\n
div.chapter h1 {\n
  string-set: header "Chapter " counter(chapter) ": " content();\n
  page-break-after: avoid;\n
}\n
\n
div.part {\n
  counter-reset: chapter 0;\n
}\n
\n
/* index */\n
\n
ul.index { \n
  list-style-type: none;\n
  margin: 0; padding: 0;\n
  column-count: 2;\n
  column-gap: 1em;\n
}\n
\n
ul.index a::after { content: ", " target-counter(attr(href), page); }\n
\n
\n
span.element, span.attribute {\n
  text-transform: uppercase;\n
  font-weight: bold;\n
  font-size: 80%;\n
}\n
span.property { font-weight: bold }\n
code, span.css, span.value, span.declaration {\n
  font: 90% "Lucida Console", "Lucida Sans Typewriter", monospace;\n
}\n
\n
\n
@media screen, handheld {\n
  html { margin: 1em; font: 14px "Gill Sans", sans-serif; }\n
  h1 { margin-bottom: 0.5em }\n
  div.frontcover, div.halftitlepage, div.titlepage, div.imprint, \n
  div.dedication, div.foreword, div.toc, div.index { display: none }\n
}

]]></string> </value>
        </item>
        <item>
            <key> <string>title</string> </key>
            <value> <string></string> </value>
        </item>
      </dictionary>
    </pickle>
  </record>
</ZopeData>
