div[data-gadget-url$="slideeditor.gadget.html"] > .document_table button:disabled {
  color: #999999;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list {
  display: flex;
  flex-wrap: wrap;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section {
  flex: 0 1 auto;
  width: 9em;
  height: 9em;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
  margin-right: 2em;
  margin-bottom: 2em;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section[data-slide-index] {
  cursor: move;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section button {
  border: red 1px solid;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section.drag {
  opacity: 0.4;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section.over {
  border-style: dotted;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section * {
  display: none;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section h1,
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section button {
  display: block;
}
