div[data-gadget-url$="slideeditor.gadget.html"] {
  /*
#list {
  padding:0px;
  margin: 0px;
}

#dialog_add_slide, #dialog_edit_slide {
  background-color: #DAE6F6;
}

#list section, #add_slide section{
  font-family:Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight:bold;
  margin: 10px;
  padding:8px;
  float: left;
  width: 7em;
  height: 7em;
  overflow:hidden;
  background-color:#FFFFFF;
  border: 2px solid #000000;
  vertical-align: middle;
  text-align: center;
  color:#000000;
}

#add_slide section{
  opacity: 0.7;
  filter:  alpha(opacity=70) ;
  filter: "alpha(opacity=70)";
}

#add_slide section:hover{
  opacity: 1;
  filter:  alpha(opacity=100) ;
  filter: "alpha(opacity=100)";
}

#list * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor:move;
}




#list section img{
  display:inline;
  width: 100%;
  margin:5px 0 0 0;
}

#list div{
  display:block;
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  cursor:pointer;
  opacity: 0;
  filter:  alpha(opacity=0) ;
  filter: "alpha(opacity=0)";
}

#list div:hover{
  opacity: 1;
  filter:alpha(opacity=100);
  filter: "alpha(opacity=100)";
}

#add_slide_button{
  background-image: url("images/filenew.png");
  background-repeat:no-repeat;
  background-position:center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor:pointer;
}

.remove_slide_button{
  background-image: url("images/editdelete.png");
}

.edit_slide_button{
  background-image: url("images/exec.png");
}

.slide_dialog iframe{
  border:0px;
  width: 99%;
  height: 99%;
  min-height: 480px;
}
*/
}
div[data-gadget-url$="slideeditor.gadget.html"] > .document_table button:disabled {
  color: #999999;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list {
  display: flex;
  flex-wrap: wrap;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section {
  flex: 0 1 auto;
  width: 9em;
  height: 9em;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  margin-right: 2em;
  margin-bottom: 2em;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section[data-slide-index] {
  cursor: move;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section button {
  border: red 1px solid;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section.drag {
  opacity: 0.4;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section.over {
  border-style: dotted;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section * {
  display: none;
}
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section h1,
div[data-gadget-url$="slideeditor.gadget.html"] > .slide_list > section button {
  display: block;
  font-size: small;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #000000;
}
