body, table {
    font-family: Verdana,Arial,sans-serif;
    font-size: 24px;
    margin:auto;
}
table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
th, td {
    padding-left: 0.3em;
    padding-right: 0.3em;
}
a {
    text-decoration: none;
}
.title {
    font-style: italic;
}
.selected {
    background-color: #FFFFCC;
}
.status_done {
    background-color: #EEFFEE;
}
.status_passed {
    background-color: #CCFFCC;
}
.status_failed {
    background-color: #FFCCCC;
}
.breakpoint {
    background-color: #CCCCCC;
    border: 1px solid black;
}