[buildout]
parts = zope-instance

[zope-instance]
recipe = erp5.recipe.zope2instance
eggs = ${eggs:eggs}
extra-paths = ${eggs:extra-paths}
user = zope:zope
environment-vars =
  PATH ${software_definition:software_home}/parts/imagemagick/bin:${software_definition:software_home}/parts/w3m/bin:${software_definition:software_home}/parts/xpdf/bin:${software_definition:software_home}/parts/ghostscript/bin:${software_definition:software_home}/parts/pdftk/bin:${software_definition:software_home}/parts/file/bin:${software_definition:software_home}/parts/graphviz/bin
  LD_LIBRARY_PATH ${software_definition:software_home}/parts/file/lib
zope-conf-additional =
  # Timerserver to have ticks in zope
  %import timerserver
  <timer-server>
    interval 5
  </timer-server>
supervisor-priority = 30
supervisor-program =
  ${:supervisor-priority} ${:_buildout_section_name_} (stdout_logfile=NONE environment=LD_LIBRARY_PATH=${software_definition:software_home}/parts/file/lib) ${buildout:bin-directory}/runzope [-C ${buildout:parts-directory}/${:_buildout_section_name_}/etc/zope.conf] true

# this name is only for backward compatibility
[zope-instance-template]
<= zope-instance
