[buildout]
extensions =
  slapos.tool.rebootstrap
  slapos.tool.networkcache
  slapos.zcbworkarounds
  mr.developer

find-links =
    http://www.nexedi.org/static/packages/source/slapos.buildout/
    http://dist.repoze.org
    http://www.nexedi.org/static/packages/source/

extends =
# Exact version of Zope
  http://svn.zope.org/repos/main/Zope/tags/2.12.18/versions.cfg
  profile/logrotate.cfg
  profile/dcron.cfg
  profile/file.cfg
  profile/fonts.cfg
  profile/ghostscript.cfg
  profile/git.cfg
  profile/glib.cfg
  profile/graphviz.cfg
  profile/haproxy.cfg
  profile/hookbox.cfg
  profile/imagemagick.cfg
  profile/kumo.cfg
  profile/libreoffice-bin.cfg
  profile/lxml-python.cfg
  profile/mariadb.cfg
  profile/memcached.cfg
  profile/mysql-python.cfg
  profile/pdftk.cfg
  profile/pysvn-python.cfg
  profile/python-2.6.cfg
  profile/python-2.7.cfg
  profile/python-ldap-python.cfg
  profile/rdiff-backup.cfg
  profile/stunnel.cfg
  profile/subversion.cfg
  profile/tesseract.cfg
  profile/varnish.cfg
  profile/w3-validator.cfg
  profile/w3m.cfg
  profile/xorg.cfg
  profile/xpdf.cfg
  profile/xtrabackup.cfg
  profile/zabbix.cfg
  profile/sed.cfg
  profile/coreutils.cfg
  profile/grep.cfg

versions = versions

parts =
  itools-build
  rdiff-backup
  apache
  apache-antiloris
  file
  graphviz
  memcached
  haproxy
  varnish-2.1
  stunnel
  w3m
  xpdf
  libpng12
  ghostscript
  mariadb
  imagemagick
  kumo
  libreoffice-bin
  w3-validator
  tesseract-eng-traineddata-unzip
  tesseract
  hookbox
  bootstrap2.6
  zabbix-agent
  pdftk
  dcron

# Buildoutish
  eggs
  instance-recipe-egg
  testrunner
  test_suite_runner

# basic Xorg
  libXdmcp
  libXext
  libXau
  libX11

# fonts
  liberation-fonts
  ipaex-fonts

# Zope products
  products-deps

# Cloudooo specific part
  cloudooo

# get git repositories
  erp5

# Create instance template
  template

[instance-recipe]
# Note: In case if specific instantiation recipe is used this is the place to
# put its name
name = slapos.recipe.erp5

[products]
# XXX: ERP5 related products are not defined as python distributions, so it is
#      required to configure them in declarative manner
list = ${products-deps:location} ${erp5:location}/product

[bootstrap2.6]
python = python2.6

[rebootstrap]
# Default first version of rebootstrapped python
version = 2
section = python2.7

[template]
# Default template for erp5 instance.
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg
md5sum = 16d09f1964101bbe128a81c7ffcf996e
output = ${buildout:directory}/template.cfg
mode = 0644

[itools]
pkgname = itools-0.50.8
location = ${buildout:parts-directory}/${:_buildout_section_name_}
lib = ${:location}/lib
source = ${:location}/src

# ugly itools building sections until itools and setuptools learn to get
# along:

[itools-download]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://download.hforge.org/itools/0.50/${itools:pkgname}.tar.gz
md5sum = 12704cc354e2201e0921a832bf6b1556
destination = ${itools:source}

[itools-build]
recipe = plone.recipe.command
# reference itools-download:destination instead of itools:source to trigger its
# execution
# here, we unset PYTHONPATH to invoke different python than buildout one.
command =
    cd ${itools-download:destination} &&
    PYTHONPATH= ${python2.6:executable} setup.py build_ext -L ${glib:location}/lib -I ${glib:location}/include/glib-2.0:${glib:location}/lib/glib-2.0/include -R ${glib:location}/lib &&
    PYTHONPATH= ${python2.6:executable} setup.py install_lib -d ${itools:lib}

update-command = ${:command}
location = ${itools:location}
stop-on-error = true

[products-deps]
# Recipe minitage.recipe.fetch is disabled, as it uses PATH variable, but it
# is not possible to change its environment to use localy delivered subversion
# nor git. plone.recipe.command can do same job, but it is controllable which
# binary will be used
recipe = plone.recipe.command
svn_param =--trust-server-cert --non-interactive --quiet
location = ${buildout:parts-directory}/${:_buildout_section_name_}
stop-on-error = true
command =
  ${subversion:location}/bin/svn checkout ${:svn_param} https://svn.plone.org/svn/collective/ExtFile/trunk ${:location}/ExtFile &&
  ${git:location}/bin/git clone --quiet git://git.hforge.org/Localizer.git ${:location}/Localizer
update-command =
  if ${buildout:newest}; then
    ${subversion:location}/bin/svn checkout ${:svn_param} https://svn.plone.org/svn/collective/ExtFile/trunk ${:location}/ExtFile &&
    cd ${:location}/Localizer &&
    ${git:location}/bin/git pull --quiet
  fi

[erp5_repository_list]
repository_id_list = erp5

[erp5]
# Recipe zerokspot.recipe.git is disabled, as is not possible to change its
# environment to use localy delivered git.
# plone.recipe.command can do same job, but it is controllable which binary
# will be used
recipe = plone.recipe.command
location = ${buildout:parts-directory}/${:_buildout_section_name_}
stop-on-error = true
repository = http://git.erp5.org/repos/erp5.git
branch = master
command = ${git:location}/bin/git clone --quiet -b ${:branch} ${:repository} ${:location}
update-command = cd ${:location} && ${git:location}/bin/git pull --quiet

[products]
# XXX: ERP5 related products are not defined as python distributions, so it is
#      required to configure them in declarative manner
list = ${products-deps:location} ${buildout:parts-directory}/erp5/product

[testrunner]
# XXX: Workaround for fact ERP5Type is not an distribution and does not
#      expose entry point for test runner
recipe = zc.recipe.egg
python = python2.6
eggs = ${eggs:eggs}
extra-paths = ${eggs:extra-paths}
entry-points =
  runUnitTest=Products.ERP5Type.tests.runUnitTest:main
scripts = runUnitTest
initialization =
  import os
  import sys
  import Products
  [Products.__path__.insert(0, p) for p in reversed(os.environ.get('INSERT_PRODUCTS_PATH', '').split(':')) if p]
  Products.__path__.extend(reversed('''${products:list}'''.split()))
  import Zope2
  os.environ['SOFTWARE_HOME'] = os.path.abspath(os.path.dirname(os.path.dirname(Zope2.__file__)))
  os.environ['ZOPE_SCRIPTS'] = ''
  temp_bt5_path_list = ['/'.join(['''${buildout:parts-directory}''', x, 'bt5']) for x in '''${erp5_repository_list:repository_id_list}'''.split(' ')]
  bt5_path_list = []
  [bt5_path_list.extend([bt5_path, '%s/*' % bt5_path]) for bt5_path in temp_bt5_path_list]
  os.environ['erp5_tests_bt5_path'] = ','.join(bt5_path_list)
  sys.path[0:0] = ['/'.join(['''${buildout:parts-directory}''', x, 'tests']) for x in '''${erp5_repository_list:repository_id_list}'''.split(' ')]
  import glob
  product_test_path_list = []
  [product_test_path_list.extend(glob.glob('/'.join(['''${buildout:parts-directory}''', x, 'product/*/tests']))) for x in '''${erp5_repository_list:repository_id_list}'''.split(' ')]
  sys.path[0:0] = product_test_path_list

[test_suite_runner]
# XXX: Workaround for fact ERP5Type is not an distribution and does not
#      expose entry point for test runner
recipe = zc.recipe.egg
python = python2.6
eggs = ${eggs:eggs}
extra-paths = ${eggs:extra-paths}
entry-points =
  runTestSuite=Products.ERP5Type.tests.runTestSuite:main
scripts = runTestSuite
initialization =
  import os
  import sys
  import Products
  [Products.__path__.insert(0, p) for p in reversed(os.environ.get('INSERT_PRODUCTS_PATH', '').split(':')) if p]
  Products.__path__.extend(reversed('''${products:list}'''.split()))
  import Zope2
  os.environ['SOFTWARE_HOME'] = os.path.abspath(os.path.dirname(os.path.dirname(Zope2.__file__)))
  os.environ['ZOPE_SCRIPTS'] = ''
  sys.path[0:0] = ['/'.join(['''${buildout:parts-directory}''', x]) for x in '''${erp5_repository_list:repository_id_list}'''.split(' ')]

[instance-recipe-egg]
recipe = zc.recipe.egg
python = python2.6
eggs =
# instantiation egg
  ${instance-recipe:name}
  erp5.conflictresolver

[eggs]
recipe = zc.recipe.egg
python = python2.6
eggs =
  ${mysql-python:egg}
  ${lxml-python:egg}
  ${python-ldap-python:egg}
  ${pysvn-python:egg}
  pycrypto
  PyXML
  SOAPpy
  cElementTree
  chardet
  elementtree
  erp5diff
  ipdb
  mechanize
  numpy
  ordereddict
  paramiko
  ply
  python-magic
  python-memcached
  pytz
  threadframe
  timerserver
  urlnorm
  uuid
  xml_marshaller
  xupdate_processor
  feedparser
  argparse

# Zope 2.12 with patched acquisition
  ZODB3
  Zope2
  Acquisition

# Other Zope 2 packages
  Products.PluggableAuthService
  Products.PluginRegistry

# CMF 2.2
  Products.CMFActionIcons
  Products.CMFCalendar
  Products.CMFCore
  Products.CMFDefault
  Products.CMFTopic
  Products.CMFUid
  Products.DCWorkflow
  Products.GenericSetup
  five.localsitemanager

# Other products
  Products.DCWorkflowGraph
  Products.MimetypesRegistry
  Products.ExternalEditor
  Products.TIDStorage
  Products.Zelenium

# Currently forked in our repository
#    Products.PortalTransforms
# Dependency for our fork of PortalTransforms
  StructuredText

# parameterizing the version of the generated python interpreter name by the
# python section version causes dependency between this egg section and the
# installation of python, which we don't want on an instance
interpreter = python2.6
scripts =
  repozo
  runzope
  runzeo
  tidstoraged
  tidstorage_repozo

extra-paths =
  ${itools:location}/lib

[mysql-python]
python = python2.6

[lxml-python]
python = python2.6

[python-ldap-python]
python = python2.6

[pysvn-python]
python = python2.6

[cloudooo]
recipe = zc.recipe.egg
python = python2.6
eggs =
  ${lxml-python:egg}
  cloudooo.handler.ffmpeg
  cloudooo.handler.imagemagick
  cloudooo.handler.ooo
  cloudooo.handler.pdf
  cloudooo
  PasteScript
scripts =
  paster=cloudooo_paster

[versions]
# Use SlapOS patched zc.buildout
zc.buildout = 1.5.3-dev-SlapOS-001

# pin Acquisition and Products.DCWorkflow to Nexedi flavour of eggs
Acquisition = 2.13.7nxd001
Products.DCWorkflow = 2.2.3nxd002

# Known version with works
numpy = 1.3.0
# Patched version which support python 2.6
PyXML = 0.8.4nxd001
# modified version that works fine for buildout installation
SOAPpy = 0.12.0nxd001
# we are still using this old stable version.
rdiff-backup = 1.0.5

# Zope Known Good Set is incompatible with buildout 1.5.0 in case of
# distribute and zc.buildout, and as ERP5 Appliance trunk wants to use
# the newest versions of buildout infrastructure clear the pin
distribute =
setuptools =

# official pysvn egg does not supports --include-dirs and
# --library-dirs, so we use our modified version
pysvn = 1.7.4nxd006
